<div class="tabbable">
  <ul class="nav nav-tabs">
    {{#each pane in panes}}
      {{#if pane.visible}}
      <li {{bind-attr class="pane.selected:active"}}>
        <a href="#" {{action 'select' pane}}>{{pane.title}}</a>
      </li>
      {{/if}}
    {{/each}}
  </ul>
  <div class="tab-content">
    {{yield}}
  </div>
</div>
