<div class="vcard">
  <a rel='nofollow' href="http://gravatar.com/emails">
    <img class='img-polaroid' src="<%= user['avatar_url'] %>" />
  </a>
  <h1>
    <%= user['name'] %> <small> <%= user['login'] %> </small>
  </h1>
</div>


