/*
 * Variables
 */

/**
 * Neat config
 */
$grid-columns: 				12;
$gutter: 					40px;
$slim-container-width: 		799px;
$max-width: 				1001px;


/**
 * Breakpoints
 */
$short: 					new-breakpoint(max-width 22.5em 4);     // 360px
$tall: 						new-breakpoint(max-width 47.8em 12);      // 768px
$grande: 					new-breakpoint(max-width 65.06em 12);    // 1041px
$venti: 					new-breakpoint(min-width 65.06em 12);   // 1260px


/**
 * Colours
 */


/**
 * Typography
 */
$base-font-size: 			1.4;
$base-line-height: 			1.8;
$base-font-family: 			"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$light-font-family: 		"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$thin-font-family: 		"HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$alt-font-family: 			"Source Sans Pro", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;



$lighterGrey: #CCC;
$lightGrey: #999;
$grey: #666;
$darkGrey: #444;

$red: red;

$borderColor: $lighterGrey;

$linkColor: #0088cc;
$linkColorHover: #005580;

$hb-purple: #7965cc;
$hb-purple-dark: #4a3e93;
$hb-grey-dark: #3d3d3d;
$hb-grey-light: #e2e2e2;
$hb-red: #f9646e;
$hb-red-dark: #a83848;

$hb-font-headings: "Din Text Pro Medium", "Helvetica Neue", "HelveticaNeue", Arial, Verdana, sans-serif;
$hb-font-sub-headings: "Din Text Pro Light", "Helvetica Neue", "HelveticaNeue", Arial, Verdana, sans-serif; 
$hb-font-body: "Helvetica Neue", "HelveticaNeue", Arial, Verdana, sans-serif; 
