<div class="card-header">

<% if(assignee) { %>
 <img data-placement="right" rel="twipsy" title="Assigned to <%= assignee.login %>" src="https://secure.gravatar.com/avatar/<%= assignee.gravatar_id %>?s=30" />
<% } %>
<a class="title" href="<%= html_url %>" target="_blank" title="View issue <%= number %> on github.com"><%- title %></a>

<% if(milestone) { %>
<div class="milestone">
   Milestone: <%- milestone.title %>
</div>
<% } %>
<div class="card-labels">
<% if(pull_request.html_url) { %>
  <span class="label label-info">Pull</span>
<% } %>
<% _(other_labels).each(function(l) { %>
<span class="label" style="background-color: #<%= l.color %>"><%- l.name %></span>
<% }); %>
</div>

</div>
