<a class="number" href="<%= html_url %>" target="_blank" title="View issue on github.com"><small>#</small><%= number %> <%= pull_request.html_url ? "Pull request" : ""%></a>
<a href="#" class="close">x</a>
<a class="number" href="<%= html_url %>" target="_blank" title="View issue on github.com"><small>#</small><%= number %></a>
<div class="title">
  <%= title %>
</div>
<% if(assignee) { %>
 <img data-placement="right" rel="twipsy" title="Assigned to <%= assignee.login %>" src="http://www.gravatar.com/avatar/<%= assignee.gravatar_id %>?s=24" />
<% } %>

<% if(milestone) { %>
<div class="milestone">
      <a href="#">
        Milestone: <%= milestone.title %>
      </a>
</div>
<% } %>
