<a href="#"  title="Close issue" class="close ui-icon ui-icon-x"><span></span></a>
<div class="card-header">
  <div class="title" title="<%- title %>">
    <%- title %>
  </div>
  <a class="number" href="<%= html_url %>" target="_blank" title="View issue on github.com"><small>#</small><%= number %></a>
</div>
<% if(assignee) { %>
 <img data-placement="right" rel="twipsy" title="Assigned to <%= assignee.login %>" src="https://secure.gravatar.com/avatar/<%= assignee.gravatar_id %>?s=24" />
<% } %>

<% if(pull_request && (pull_request.html_url != null)) { %>
  <span class="label label-info">Pull request</span>
<% } %>
<div class="card-labels">
<% _(other_labels).each(function(l) { %>
<div class="card-label-wrapper"> 
  <div class="card-label -x<%= l.color %> active small"> 
  </div>
  <div class="card-label -x<%= l.color %> active large"> 
    <span> <%- l.name %> </span>
  </div>
</div>

<% }); %>

</div>
