{{#hb-tabs}}
  {{#hb-pane title="Compose"}}
    <div class="markdown-composer">
      {{textarea autoresize=true value=markdown placeholder="Leave a comment"}}
    </div>
  {{/hb-pane}}
  {{#hb-pane title="Preview"}}
    <div class="markdown-preview">
      {{{preview}}}
    </div>
  {{/hb-pane}}
{{/hb-tabs}}


