

  <ul class="labels"> 
    <h5> Labels </h5>
  <% _(available_labels).each(function(l) { %>
    <% if(_.find(current_labels, function(x){ return x.name === l.name})) { %>
    <li class="active card-label -x<%= l.color %>"> 
      <span> <%- l.name %> </span>
      <input type="checkbox" style="display:none" name="labels[name][]" value='<%= l.name %>' checked='checked' />
    </li>
      <% } else {  %>
    <li class="card-label -x<%= l.color %>"> 
        <span > <%- l.name %> </span>
        <input type='checkbox' style="display:none" name="labels[name][]" value='<%- l.name %>' />
    </li>

      <% } %>
  <% }); %>
  </ul>
