.settings
.env
.token
.rvmrc
tmp/
log/
.DS_Store
.sass-cache
#*.min.css
app.build.js
.idea/
*.orig
.bundle/
.powconfig
.rbenv-version
vendor/
node_modules

!assets/javascripts/board/vendor/
!assets/javascripts/vendor/


