.ruby-version
.settings
.env
.token
.rvmrc
tmp/
log/
.DS_Store
.sass-cache
#*.min.css
app.build.js
.idea/
*.orig
.bundle/
.powconfig
.rbenv-version
node_modules

/cookbooks
/bin
.vagrant
.tmp/
.librarian/
modules/

public/assets
vendor/bundle
vendor/bundler
