# TODO: read this from a yaml
set :session_secret, "herpderp"  # from github authorized application
set :secret_key, 'iam a secret key' # from github authorized application
set :team_id, '' # redundant?
set :user_name, '' # redundant?
set :password, '' # redundant?
set :socket_secret, '' # shared secret for confirming push came from github - optional
set :couchdb_server, 'http://127.0.0.1:5984'
set :cache_config, {:servers => '127.0.0.1,192.168.0.254', # memcached servers
                    :username => '',
                    :password => ''}

set :github_options, {:secret    => '12351463161',
                      :client_id => '213414514636134631731364',
                      :scopes => "user,repo"}
