<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <heliconZoo>
        <application name="sinatra.project" >
            <environmentVariables>

                <!-- Uncomment line below to run Ruby in development mode -->
                <!-- <add name="RACK_ENV" value="development" /> -->
            </environmentVariables>
        </application>
    </heliconZoo>


    <handlers>
      <!-- Ruby 1.9 over FastCGI -->
      <add name="rails.project#x86" scriptProcessor="ruby.1.9.rack" 
        path="*" verb="*" modules="HeliconZoo_x86" 
        preCondition="bitness32" resourceType="Unspecified" 
        requireAccess="Script" />
      <add name="rails.project#x64" scriptProcessor="ruby.1.9.rack"  
        path="*" verb="*" modules="HeliconZoo_x64" 
        preCondition="bitness64" resourceType="Unspecified" 
        requireAccess="Script" />

      <!-- Ruby 1.8 over FastCGI -->
      <!--
      <add name="rails.project#x86" scriptProcessor="ruby.1.8.rack" 
        path="*" verb="*" modules="HeliconZoo_x86" 
        preCondition="bitness32" resourceType="Unspecified" 
        requireAccess="Script" />
      <add name="rails.project#x64" scriptProcessor="ruby.1.8.rack"  
        path="*" verb="*" modules="HeliconZoo_x64" 
        preCondition="bitness64" resourceType="Unspecified" 
        requireAccess="Script" />
      -->

      <!-- Ruby 1.9 over HTTP, using Thin as a back-end application server -->
      <!--
      <add name="rails.project#x86" scriptProcessor="ruby.1.9.thin" 
        path="*" verb="*" modules="HeliconZoo_x86" 
        preCondition="bitness32" resourceType="Unspecified" 
        requireAccess="Script" />
      <add name="rails.project#x64" scriptProcessor="ruby.1.9.thin" 
        path="*" verb="*" modules="HeliconZoo_x64" 
        preCondition="bitness64" resourceType="Unspecified" 
        requireAccess="Script" />
      -->
    </handlers>


    <!-- Send static files through IIS -->
    <rewrite>
          <rules>
                <rule name="Avoid Static Files" stopProcessing="true">
                      <match url="^(?!public)(.*)$" ignoreCase="false" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                            <add input="{APPL_PHYSICAL_PATH}" pattern="(.*)" ignoreCase="false" />
                            <add input="{C:1}public\{R:1}" matchType="IsFile" />
                        </conditions>
                  <action type="Rewrite" url="public/{R:1}" />
                    </rule>
            </rules>
    </rewrite>

  </system.webServer>
</configuration>