<a href="#" title="Close issue" class="close ui-icon ui-icon-x"><span></span></a>
<div class="card-header">
  <div class="title" {{bind-attr title=title }}>
    {{title}}
  </div>
  <a class="number" {{bind-attr href=html_url}} target="_blank" title="View issue on github.com"><small>#</small>{{number}}</a>
</div>

 <img data-placement="right" rel="twipsy" title="Assigned to rauhryan" src="https://secure.gravatar.com/avatar/29283ede6c447fdc62f0ceac42df33ea?s=24">

<div class="card-labels">

<div class="card-label-wrapper"> 
  <div class="card-label -x8CBF26 active small"> 
  </div>
  <div class="card-label -x8CBF26 active large"> 
    <span> Feature Request </span>
  </div>
</div>



</div>
