<div class="sidebar">
  <div class="sidebar-wrapper">
    {{outlet sidebar}}
  </div>
</div>
<div id="content" class="content">
  <div id="stage">
    <div id="drawer">  <a {{action "toggleDrawer"}} href="#" class="arrow-right toggle-drawer"><span></span></a>
      <div class="board">
        {{outlet drawer}}
      </div>
    </div>
    <div class="board">
        {{#each column in board_columns }}
          {{ render column column }}
        {{/each}}
    </div>
  </div>

</div>
