<div id="content" class="content">
  <div id="stage">
    <div class="board">
    {{#each column in columns }}
      <div class="column" {{bind-attr style=column_style }}>
        <h3>{{column.name}}</h3>
        <ul class="sortable">
          
        </ul>
      </div>
    {{/each}}
    </div>
  </div>

</div>
