<div class="main-toolbar">
  <div class="sidebar-toggle">
    <a href="#" {{action "toggleSidebar" }}>Toggle sidebar <i class="ui-icon ui-icon-triangle-1-e"></i></a>
  </div>

</div>
<div id="main-stage" {{bind-attr class=":main-content isSidebarOpen:sidebar-open"}}>
  <div class="sidebar">
    <div class="sidebar-wrapper">
      {{outlet sidebar}}
    </div>
  </div>
  <div id="content" class="content">
    <div class="board">
        {{#each column in board_columns }}
          {{ render column column }}
        {{/each}}
    </div>
  </div>
</div>
