<div id="content" class="content">
  <div id="stage">
    <div class="board">
    {{#each model.labels }}
      <div class="column">
        <h3>{{name}}</h3>
        <ul class="sortable"></ul>
      </div>
    {{/each}}
    </div>
  </div>

</div>
