<div class="fullscreen-card-right">
      <h2> <a class="number" href="<%= html_url %>" target="_blank" title="View issue on github.com"><small>ISSUE #</small><%= number %></a> </h2>
      <div class="labels-placeholder"></div>
</div>
<div class="fullscreen-card-left">
  <div class='fullscreen-card-preamble'>
    <div class="fullscreen-header">
      <h2> <%- title %> </h2>
    </div>
  </div>
  <div class="fullscreen-card-description card-comment">
    <a href="<%= user.html_url %>" target="_blank">
      <img title="Created by <%= user.login %>" src="<%= user.avatar_url%>?s=30" width="30" height="30" />
    </a>
    <div class="comment-body">
      <%= body_html || "<p class='empty'> No description given </p>" %>
    </div>
  </div>
</div>
