

.arrow {
  margin-right: 15px;
  position: relative;
  box-sizing: border-box;
  margin-top: 0;
  color: #555;
  &:before, &:after {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-radius: 2px;
  }
  &:after {
    border-left-color: #f3f3f3;
    border-width: 14px;
    top: 50%;
    margin-top: -14px;
  }

  &:before {
    border-left-color: #e5e5e5;
    border-width: 15px;
    top: 50%;
    margin-top: -15px;
  }

}


