@import "arrow";
.container-fluid {
   padding-right: 25px;
   padding-left: 25px;
}

.toggle-drawer {
  position:absolute;
  z-index:5;

  margin: 0px;
  padding: 10px;
  border: 1px solid #ccc;
  @include prefixer(border-radius, 20px);
  @include box-sizing(border-box);
  width:40px;
  line-height: 20px;

  background: #fff;
  background: rgba(255,255,255,0.8);
  text-align: center;

	font-family: 'ui-icon-font-0-1';

  &.arrow-right {
    right: -35px;
    &:before {
	    content: "\e052";
    }

    background-color: #0069D6;
    background-color: rgba(0,105,214,0.6);
    border-color: #0069D6;
    border-color: rgba(0,105,214,0.6);
    color: #fff;

    &:hover {
      right: -40px;
      color: #fff;
    }
  }

  &.arrow-left {
    right: -25px;
    &:before {
	    content: "\e053";
    }
  }

  &:hover {
    text-decoration: none;
  }
}
#drawer {
    position:absolute;
    width:280px;
    top:0;
    left:-497px;

   .board, .backlog, .filters {
     background: #fff;
     border-right: 1px solid #ccc;
   }
   .column {
     float: none;
     padding: 0 20px;
     @include box-sizing(border-box);
   }
}

.column {
  float: left;
  vertical-align: top;
  padding: 0px 10px;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
  @include box-sizing(border-box);
}


.backlog {
  white-space: nowrap;
  overflow-x: auto;
  .column {
    float: none;
    display: inline-block;
  }
}
.sidebar {
  .backlog {
    .column {
      width: 209px;
    }
  }
}

.column h3 {
  line-height: 20px;
  margin-bottom: 10px;
  padding: 3px;
  padding-left: 10px;
  border: 1px solid #e5e5e5;
  background: #f3f3f3;

  font-size: 100%;
}

.board .column h3 {
  @extend .arrow;
}

.column ul {
  margin:0;
  padding: 0;
}
.backlog {
    .dim {
      opacity: 0.6;
    }
    .active {
    }
}
.board {
    .dim {
      opacity: 0.6;
      @include transition (opacity 0.6s, ease-out);
      @include transition (filter 0.6s, ease-out);
      @include prefixer(filter, grayscale(100%) opacity(80%));
      @include box-shadow(inset 0 0px 1px rgba(0,0,0, 0.3));
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    }
    .active {
    }

}

.column li {
  list-style: none;
  padding: 0px 5px 5px 5px;
  margin: 10px 0;
  cursor:move;
  position:relative;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-bottom-color: darken(#e5e5e5, 5%);
  box-shadow: 1px 1px 5px rgba(162, 162, 162, 0.36);
  line-height: 1.4em;
  border-radius:3px;
  &:hover{
	    box-shadow: 1px 1px 7px rgb(162,162,162);
}

  &.assignee-accept {
     border-color: #0069D6;
	box-shadow: 1px 1px 5px #0069D6;
  }
  .card-labels {
  }
  /*
  .card-labels {
    position: absolute;
    bottom: -3px;
    .card-label-wrapper {
      float:left;
      margin-right: 5px;
      .card-label {
        z-index: 10;
      }
      .card-label.active.small {
        height: 4px;
        width: 40px;
        display:block;
      }
      .card-label.active.large {
        position: relative;
        top: 22px;

        display: none;
        padding: 3px 10px;
      }
    }
      &:hover {
        .card-label.active.small {
          display: none;
        }
        .card-label.active.large {
          display:block;
        }
      }
  }
  */

  .card-header {
    /* Commented out until we have body stuff...
	border-bottom: 1px solid $borderColor;*/
    padding-top: 5px;
    color: $darkGrey;
  }
  .title {
	font-size: 14px;
    word-wrap: break-word;
    white-space: normal;
    text-overflow: clip;
    overflow:auto;
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
	padding-right: 29px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(255, 255, 255, 0);

	&:hover {
	  //text-decoration: underline;
	  color: #08C;
	  background-color: lighten(#08C, 70%);
	  border-bottom:1px solid;
	}
  }
  .milestone {
    color: $lightGrey;
    font-size:11px;
  }
  img {
	position: absolute;
	top: 0;
	right: -1px;
	border-radius: 0 3px 0 0;
  }
}

.column li a.close {
  position: absolute;
  top: 12px;
  right: 6px;
  width: 16px;
  opacity:0.0;
}
.column li:hover a.close {
  opacity:0.3;
}
.column li a.close:hover {
  opacity:0.5;
}

.column li a small {
  color: $lightGrey;
  padding-right:2px;
}
.column .ui-sortable-placeholder {
  background:$borderColor;
  list-style: none;
  padding: 80px 5px 10px 5px;
  margin: 10px 0;
}
.column .ui-sortable-hover {
  background:#efefef;
}

.filters {
  list-style: none;
  margin:10px 0 0;
  padding:0 10px 0 0;
line-height: 16px;
}

.filters li {
  margin-bottom: 3px;
  background: #fff;
  border-radius: 4px;
  line-height: 14px;
}
.filters li.clear-filters, .filters li.clear-filters a {
  background: none;
  color:$grey;
}
.filters li.clear-filters {
  border-radius: 0;
  border-bottom: 1px solid $darkGrey;
}
.filters li.clear-filters a:hover {
  color:$grey;
}

.filters li a {
  position:relative;
  padding: 5px;
  display:block;
  padding-right:25px;
  padding-left:10px;
  text-decoration: none;
  border-radius: 4px;
  color:#777;
}

.filters li a strong {
  position: absolute;
  top:12px;
  right:10px;
}

.filter a.active, .filter a.active:hover {
  background-color: #0069D6;
  color: #fff;
}
.filter a.dim, .filter a.dim:hover {
  background-color: #0069D6;
  background-color: rgba(0,105,214,0.6);
  color: #fff;

}

.filter {
  .ui-icon {
	font-size: 12px;
	height:12px;
    position: absolute;
    top: 7px;
    right: 7px;
    width: 12px;
    display:none;
    opacity: 0.8;
    &:hover {
      opacity: 1;

    }
  }
  a:hover {
    background-color:#efefef;
  }

  .dim:hover, .active:hover {
    .ui-icon {
      display:inline;
    }
  }
}


