
$lighterGrey: #CCC;
$lightGrey: #999;
$grey: #666;
$darkGrey: #444;

$red: red;

$borderColor: $lighterGrey;

$linkColor: #0088cc;
$linkColorHover: #005580;

$hb-purple: #7965cc;
$hb-purple-dark: #4a3e93;
$hb-grey-dark: #3d3d3d;
$hb-grey: #e2e2e2;

$hb-font-headings: "Din Text Pro Medium", "HelveticaNeue", Verdana, sans-serif;
$hb-font-sub-headings: "Din Text Pro Light", "Helvetica Neue", Verdana, sans-serif; 



