$footer-height: 60px;
body, html {
  height: 100%;

}
#wrapper {
   height: auto !important;
   height: 100%;
   min-height: 100%;

   margin-bottom: -$footer-height;
}



#footer, #footer-pusher {
   min-height: $footer-height;
}
#footer {
    @include linear-gradient(#F3F3F3, #F9F9F9);
    border-top: 1px solid #e5e5e5;
}
