.page-header-wrapper .header {
  font-size: 18px;
  margin:0;
  line-height:20px;

  .author{
    color: #08C;
    font-weight: normal;
  }
  .repo {
    color: #08C;
  }
  input {
    	border: 0;
		outline: none;
	    background: #fff;
	    vertical-align: baseline;
	    line-height: 20px;
	    margin: 4px 10px;
	    padding: 0 15px;
	    font-size: 16px;
		border-radius: 17px;
  }
}
%grow {
   @include transform(scale(1.25));
   @include transition (all 0.2s ease-in 0.1s);
}
.assignee {
  list-style: none;
  line-height: 30px;
  float:left;
  margin:0 2px;
  cursor:pointer;
  &:hover, &.active {
    img {
      @extend %grow;
    }
  }
  &.dim img {
      opacity: 0.6;
      @include transition (opacity 0.6s, ease-out);
      @include transition (filter 0.6s, ease-out);
      @include prefixer(filter, grayscale(100%) opacity(80%));
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  }
  &.inactive img {
      opacity: 0.1;
  }
}
.page-header-wrapper {
  ol {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
  }
}

