.fullscreen-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  // just above drawer
  z-index: 10;


  height: 100%;
  width: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  background-color: rgba(243,243,243, 0.8);

  display:none;

}

.fullscreen-open {

  overflow: hidden;

  .fullscreen-overlay {
    display: block;
  }

}

.fullscreen-wrapper {
  margin: 0px 60px;

}

.fullscreen-card {
  position: relative;
  max-width: 960px;

  background-color: #fff;

  margin: 50px auto;

  border-radius: 2px;
  border: 1px solid rgba(0,0,0, 0.3);

  padding: 20px 0px;

  overflow:hidden;
  h2{
    margin: 0;
    font-size: 20px;
    line-height: 28px;
  }
  h3 {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
  }

}

.fullscreen-header {
  margin: 20px 0;


}
.fullscreen-card-preamble {
  .fullscreen-header {
    margin-top: 0;
  }

}
.fullscreen-card-description {
  p {
  -ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
  }
}
.fullscreen-card-right{

  float: right;
   margin-right: 20px;
   width: 160px;


}
.fullscreen-card-left {
   margin-left: 20px;
   margin-right: 200px;
   padding-right: 10px;
   @include prefixer(box-sizing, border-box);
   overflow: hidden;
}


.fullscreen-card {
  .card-comment {
    overflow:hidden;
    margin-bottom: 10px;
    > img {
      float: left;
    }
  }
  .comment-body {
    margin-left: 40px;
    .email-fragment {
      margin-bottom: 10px;
    }
    .email-hidden-toggle {
       display:none;
    }
  }
  
}

.labels {
  list-style: none;
  margin:0;
  padding:0;
  h5 {
   margin-top: 0px;
  }
}

.labels li {
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.labels li span {
  position:relative;
  padding: 10px;
  display:block;
  text-decoration: none;
  border-radius: 4px;
  color:#777;
}


