
body {
  font-family: "ProximaNovaRegular", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.navbar {
  &.navbar-fixed-top, &.navbar-static-top {
    .navbar-inner {
      @include box-shadow(none);
    }
  }
  .navbar-inner {
    @include linear-gradient(#F9F9F9, #F3F3F3);
    border-bottom: 1px solid #e5e5e5;
    .nav a {
     -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(0,0,0,0.75)));
    }
  }
}
.navbar .brand {

  line-height: 90px;
  padding-top: 0;
  padding-bottom: 0;

  color: rgba(255,255,255,0.3);
  text-shadow: -1px -1px rgba(0,0,0,0.4);

  font-family: "ProximaNovaBold", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 40px;

  &:hover {
    color: rgba(255,255,255,0.3);
    text-shadow: -1px -1px rgba(0,0,0,0.7);
  }

}

.navbar {
 .nav {
    float: right;
    ul {
      margin: 0;
      list-style-type: none;
    }
 }
} 

.navbar .nav  li > a {
  font-family: "ProximaNovaRegular", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  line-height: 90px;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar .nav a {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(0,0,0,0.75)));
}
