@import "bourbon/bourbon";
@import "colors";
@import "font";
@import "repos";
@import "milestones";
@import "board";
@import "header";
@import "footer";
@import "overlay";
@import "section";

.navbar {
  &.navbar-fixed-top, &.navbar-static-top {
    .navbar-inner {
      @include box-shadow(none);
    }
  }
  .header {
    font-size: 18px;
	position: relative;
	left: 0;
	display: block;
	float: left;

  	.author{
	    color: #08C;
	    font-weight: normal;
	}
    .repo {
	    color: #08C;
		font-weight:bold;
	}

	input {
	    border: 1px solid #e5e5e5;
		outline: none;
	    background: #fff;
	    vertical-align: baseline;
	    line-height: 30px;
	    margin: 4px 10px;
	    padding: 0 15px;
	    font-size: 18px;
		border-radius: 17px;
	}
   }

  .navbar-inner {
    @include linear-gradient(#F9F9F9, #F3F3F3);
    border-bottom: 1px solid #e5e5e5;
    .nav a {
     -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(0,0,0,0.75)));
    }
  }
  .nav {
    > li {
      > a {
        &:hover {
          border-top: 3px solid #DD4B39;
          padding-top: 7px;
        }
      }
      &.active, &.dropdown.open {
        > a, > a:hover, > .dropdown-toggle, > .dropdown-toggle:hover  {
            border-top: 3px solid #2590D6;
            padding-top: 7px;
            background:none;
            @include box-shadow(none);
        }
      }

    }
  }
}


.hide {display:none;}

.breadcrumb {
  margin: -43px 0 7px 0; 
}

#main-stage  { 
  margin-bottom: 50px;
  margin-top: 10px;
}

#stage{
	min-width: 1200px;
}
.container-fluid {
  position:relative;
  > .sidebar {
     width: 190px;
     position: absolute;
     border-right: 1px solid #ccc;
     @include box-sizing(border-box);
  }
  > .content {
     margin-left: 200px;
     position: relative;
  }
}


.drop-shadow {
  position:relative;
  padding:1em; 
  background:#fff;
  border: 1px solid #f2f2f2;
  border-bottom-color: darken(#f2f2f2, 5%);
  @include box-shadow( 0 1px 2px rgba(0,0,0, 0.4));
}


.instructions {
   text-align: center;
   margin-top: 60px;
}
.instructions ol {
   width: 30px;
   text-align:left;
   margin-left: auto;
   margin-right: auto;
}
