@import url('../font/iconic.css');
@import "colors";
@import "repos";
@import "milestones";
@import "board";
@import "footer";

.hide {display:none;}

.breadcrumb {
  margin: -43px 0 7px 0; 
}

#main-stage  { 
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-fluid {
  position:relative;
  > .sidebar {
     width: 230px;
     position: absolute;
     left: 10px;
  }
  > .content {
     margin-left: 240px;
  }
}


.drop-shadow {
  position:relative;
  padding:1em; 
  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.1) inset;
}


.instructions {
   text-align: center;
}
.instructions ol {
   width: 30px;
   text-align:left;
   margin-left: auto;
   margin-right: auto;
}
