@import "bourbon/bourbon";
@import "colors";
@import "buttons";
@import "scroll";
@import "topbar";
@import "footer";

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../font/proximanova-regular-webfont.eot");
  src: local('ProximaNovaRegular'),
  url("../font/proximanova-regular-webfont.woff") format('woff'),
  url("../font/proximanova-regular-webfont.ttf") format('truetype');
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../font/proximanova-bold-webfont.eot");
  src: local('ProximaNovaBold'),
  url("../font/proxima_nova_bold-webfont.woff") format('woff'),
  url("../font/proxima_nova_bold-webfont.ttf") format('truetype');
}


.preamble {
  background-color: #353535;
  color: #676767;
  color: rgba(255,255,255,0.3);
  text-shadow: -1px -1px rgba(0,0,0,0.4);
  padding-top: 60px;
  h1 {
    color: #f8f8f8;
    color: rgba(248,248,248,0.9);
    text-shadow: -1px -1px rgba(0,0,0,0.1);
  }
  h1, h2 {
    font-family: "ProximaNovaBold", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  .hb-button {


    margin: 0 auto;
    width: 200px;
    display:block;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    
  }
  .sign-up {
    margin-top: 80px;
  }
}

.features {
  h3, h2 {
    font-family: "ProximaNovaBold", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  padding-bottom: 100px;
  padding-top: 100px;
}

.gutter {
  background-color: #f5f5f5;
  @include box-shadow(inset 0px 0px 2px $borderColor);
}

