{{columns/hb-milestone-header column=model issues=sortedIssues isCollapsed=isCollapsed}}

{{#if isCreateVisible}}
  {{columns/hb-quick-issue
    column=model
    createNewIssue=(action attrs.createNewIssue)
    createFullscreenIssue=(action attrs.createFullscreenIssue)
  }}
{{/if}}

<ul class="cards sortable">
  {{#each sortedIssues as |issue|}}
    {{
      hb-milestone-card
        issue=issue
        issues=sortedIssues
        columns=columns
        repos=repos
        taskColumns=taskColumns
    }}
  {{/each}}
</ul>
<div class="collapsed"></div>
