<ul class='filters'>
  <h5>Assignment</h5>
  {{#each filter in userFilters }}
    {{view App.FilterView lastClicked=lastUserFilterClicked name=filter.name mode=filter.mode color=filter.color }}
  {{/each}}

  <h5>Milestones</h5>
  {{#each filter in milestoneFilters }}
    {{view App.FilterView lastClicked=lastMilestoneFilterClicked name=filter.name mode=filter.mode color=filter.color }}
  {{/each}}
  <h5>Labels</h5>
  {{#each filter in labelFilters }}
    {{view App.FilterView lastClicked=lastLabelFilterClicked name=filter.name mode=filter.mode color=filter.color}}
  {{/each}}

</ul>
