    <div class="vcard">
      <a href="http://gravatar.com/emails">
        <img class="img-polaroid"  src="https://secure.gravatar.com/avatar/<%= user.gravatar_id %>?s=270&d=retro" />
      </a>
      <h1>
        <%= user.name %>
        <small> <%= user.login %></small>
      </h1>

    </div>

