<% content_for :header do %>
  <h1> Accounts </h1>
<% end %>

<script type="text/x-handlebars" >
  <div class="row">

    <div class="span3">

      <ul class="nav nav-list">
        <li>
        {{#linkTo index }} 
          {{ log this }}
          {{ log view }}
          {{ model.user.login }}
        {{/linkTo}}
        </li>

        {{#each model.orgs}}
        <li>
        {{#linkTo profile this}} {{ login }} {{/linkTo}}
        </li>
        {{/each}}
      </ul>
    </div> 
    <div class="span9">

      {{ outlet }}
    </div> 
  </div> 


</script>

<script type="text/x-handlebars" id="index">
  <div class="nav-section">

    <div class="widget-header">
      <h3> {{ model.login }} </h3>
    </div>
    <div class="widget-body">
      <p> {{ model.details.herp }} </p>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="account">
  {{render purchase_form}}
</script>   

<script type="text/x-handlebars" data-template-name="purchase_form">
  <h2>Buy {{description}} for ${{price}} with Stripe </h2>

  <form {{action purchase on=submit}}>
    <fieldset>
      <span class="payment-errors">{{errors}}</span>

      <div class="form-row">
        <label>
          <span>Card Number</span>
          {{view App.CardNumberField valueBinding="number" size=20}}
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>CVC</span>
          {{view App.CvcField valueBinding="cvc" size="4" data-stripe="cvc"}}
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>Expiration ({{ expMonth }} / {{ expYear }})</span>
          {{view App.CardExpiryField valueBinding="exp" }}
        </label>
      </div>

      <button type="submit" {{bindAttr disabled="processingPurchase"}}> Submit Payment</button>
    </fieldset>
  </form>
</script>

<script type="text/x-handlebars" id="profile">
  <div class="nav-section">
    <div class="widget-header">
      <h3> {{ model.login }} </h3>
    </div>
    <div class="widget-body">
      {{#if model.details.org.is_owner }}

      {{ render account }}

      {{else}}
      Not owner

      {{/if}}
    </div>
  </div>
</script>

