
<script type="text/x-handlebars" >
  <div class="row">

  <div class="span3">

    <ul>
      <li>
        {{#linkTo "index" }} {{ model.user.login }} {{/linkTo}}

      </li>

    {{log this}}
    {{#each controller.orgs}}
      <li>
      {{#linkTo "profile" this}} {{ login }} {{/linkTo}}
      {{ outlet subnav }}
      </li>

    {{/each}}
  </ul>
  </div> 
  <div class="span9">

  {{ outlet }}
  </div> 
  </div> 


</script>

<script type="text/x-handlebars" id="index">

 <h1> {{ model.login }} hello </h1>
  

</script>


<script type="text/x-handlebars" id="profile">

 <h1> {{ login }} hello </h1>
  

</script>

