<div class="preamble">
  <header class="container ">
  <div class="row">
    <div class="span12">

      <h1>GitHub issues made awesome</h1>
      <h2>Instant project management for GitHub repositories</h2>
    </div>
    <div class="span12">
      <div class="row">
        <div class="span6 sign-up">
          <a class="hb-button" href="/login">Try it for free</a>
        </div>
        <div class="span6 screen-shot">
          <img src="/img/mba.png" alt="screen shot" />
        </div>
      </div>
    </div>
  </div>
  </header>
</div>

<div class="features">
  <div class="container">
    <div class="row">
      <div class="span4">
        <h3>Lean project management  </h3>
        <p>
        We meet the perfect balance of people over tools, giving your project just
        enough process to get out of you way.
        </p>
      </div>
      <div class="span4">
        <h3>Lightweight Kanban Board </h3>
        <p>
        Fully customizable task board gives developers instant feedback into the 
        status of tasks thoughout your progress.
        </p>
      </div>
      <div class="span4">
        <h3>Instant Feedback</h3>
        <p>
        See changes the instant they happen, Huboard keep you up to date with RealTime 
        updates the moment issues are opened, closed and moved.
        </p>

      </div>
    </div>
  </div>
</div>
<div class="features gutter">
  <div class="container">

    <div class="row">
      <div class="span4">
        <img width="241px" height="107px" src="/img/github_logo.png" />
      </div>
      <div class="span8">
        <h2>Built using GitHub </h2>
        <p>
        Huboard is built from the ground up using the GitHub public API. Huboard issues <strong>are</strong> GitHub issues,you will 
        never have to deal with syncronization problems. Keep issues where they belong, in the repository with your code!
        </p>
      </div>


    </div>
  </div>
</div>
<div class="features">
  <div class="container">
    <div class="row">
      <h3> What people are saying </h3>
      <div class="span6">
        <blockquote>
          <span>
            Huboard brought together the two key features I needed for projects I was leading.
            It's open source, integrates with GitHub issues, and has an extremely simple and clean approach to the UX.
            This has made it my go to for kanban with a remote, fast moving, and high caliber team.
            Oh, and forgot to mention, the drag and drop for those that don't want to dig around the issues on GitHub is a life saver!
          </span>
          <br />
          <div>
            <img src="https://secure.gravatar.com/avatar/b077605f4799abe20de52b6ded458e99?s=36"/> Adron Hall
          </div>
        </blockquote>
      </div>
      <div class="span6">
        <blockquote>
          <span>
            I love that Huboard enables us to keep our development tasks AND our project management tasks in a single repository (GitHub Issues).
            Huboard provides the best fusion between development and product management I've ever seen.
            It lets us stay light and nimble while providing the same level of accountability and trace-ability of a big ALM tool.
            Huboard blows the heavy 'enterprisey' ALM tools out of the water AND keeps my developers happy!
          </span>
          <br />
          <div>
          <img src="https://secure.gravatar.com/avatar/9844aef6963e88fdbeef1acb97df5604?s=36"/> Chad Myers, Director of Development @ Dovetail Software
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>

