<div class="preamble">
  <header class="container ">
  <div class="row">
    <div class="span12">

      <h1>Github issues made awesome</h1>
      <h2>Instant project management for github repositories</h2>
    </div>
    <div class="span12">
      <div class="row">
        <div class="span6 sign-up">
          <a class="hb-button" href="/login">Try it for free</a>
        </div>
        <div class="span6 screen-shot">
          <img src="/img/mba.png" alt="screen shot" />
        </div>
      </div>
    </div>
  </div>
  </header>
</div>

<div class="features">
  <div class="container">
    <div class="row">
      <div class="span4">
        <h3>Lean project management  </h3>
        <p>
        We meet the perfect balance of people over tools, giving your project just
        enough process to get out of you way.
        </p>
      </div>
      <div class="span4">
        <h3>Lightweight Kanban Board </h3>
        <p>
        Fully customizable task board gives developers instant feedback into the 
        status of tasks thoughout your progress.
        </p>
      </div>
      <div class="span4">
        <h3>Instant Feedback</h3>
        <p>
        See changes the instant they happen, Huboard keep you up to date with RealTime 
        updates the moment issues are opened, closed and moved.
        </p>

      </div>
    </div>
  </div>
</div>
<div class="features gutter">
  <div class="container">

    <div class="row">
      <div class="span4">
        <img width="241px" height="107px" src="/img/github_logo.png" />
      </div>
      <div class="span8">
        <h2>Built using github </h2>
        <p>
        Huboard is built from the ground up using the github public API. Huboard issues <strong>are</strong> github issues, will 
        never have to deal with syncronization problems. Keep issues where they belong, in the repository with your code!
        </p>
      </div>


    </div>
  </div>
</div>
<div class="features">
  <div class="container">
    <div class="row">
      <h3> What people are saying </h3>
      <div class="span4">
        <blockquote>
          <span>I like it because it simply meets the ideal, "people over tools". It keeps
            developers from having to fiddle with extra tools and tooling. also OSS :)
          </span>
        </blockquote>
      </div>
      <div class="span4">
        <blockquote>
          <span>I like it because it simply meets the ideal, "people over tools". It keeps
            developers from having to fiddle with extra tools and tooling. also OSS :)
          </span>
        </blockquote>
      </div>
      <div class="span4">
        <blockquote>
          <span>I like it because it simply meets the ideal, "people over tools". It keeps
            developers from having to fiddle with extra tools and tooling. also OSS :)
          </span>
        </blockquote>
      </div>
    </div>
  </div>
</div>

