<div class="preamble">
  <header class="container ">
  <div class="row">
    <div class="span12">

      <h1>Github issues made awesome</h1>
      <h2>Instant project management for github repositories</h2>
    </div>
    <div class="span12">
      <div class="row">
        <div class="span6 sign-up">
          <a class="btn btn-green btn-large" href="/login">Try it for free</a>
        </div>
        <div class="span6 screen-shot">
          <img src="/img/mba.png" alt="screen shot" />
        </div>
      </div>
    </div>
  </div>
  </header>
</div>

<div class="features">
  <div class="container">
    <div class="row">
      <div class="span4">
        <h3>Lightweight Kanban Board </h3>
        <p>
            Fully customizable task board gives
            instant feedback into tasks in progress
        </p>
      </div>
      <div class="span4">
        <h3>Built on Github</h3>
        <p>
            Huboard doesn't merely integrate with github, it's built from the ground up using the github api. 
        </p>
        
      </div>
      <div class="span4">
        <h3>Instant Feedback</h3>
        <p>
          See changes the instant they happen, Huboard keep you up to date with RealTime 
          updates the moment issues are opened, closed and moved.
        </p>
        
      </div>
    </div>
  </div>
</div>
  <div class="testimonials">
    <div class="container">
      <div class="row">
        <h3> What people are saying </h3>
      <div class="span4">
        <blockquote>
          <span>I like it because it simply meets the ideal, "people over tools". It keeps
          developers from having to fiddle with extra tools and tooling. also OSS :)
          </span>
        </blockquote>
      </div>
      <div class="span4">
        <blockquote>
          <span>I like it because it simply meets the ideal, "people over tools". It keeps
          developers from having to fiddle with extra tools and tooling. also OSS :)
          </span>
        </blockquote>
      </div>
      <div class="span4">
        <blockquote>
          <span>I like it because it simply meets the ideal, "people over tools". It keeps
          developers from having to fiddle with extra tools and tooling. also OSS :)
          </span>
        </blockquote>
      </div>
      </div>
    </div>
  </div>
