<h1>Welcome! <%= @user.login %> </h1>
<div>
  <ul class="repos">
    <% @repos.each do |repo| %>
      <li class="repo"><a href="<%= "/#{repo["owner"]["login"]}/#{repo["name"]}/milestones" %>"> <%= repo["name"] %></a> </li>
    <% end %>
  </ul>
</div>
