<!DOCTYPE html>
<html>
  <head>
    <title>Inch pebbles</title>
    <!-- This is a special version of jQuery with RequireJS built-in -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/scripts/underscore.js" type="text/javascript" charset="utf-8"></script>
    <script src="/scripts/backbone.js" type="text/javascript" charset="utf-8"></script>
    <script src="/scripts/require.js"></script>
    <script src="/scripts/module-loader.js"></script>
    <link rel="stylesheet" href="/styles/main.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
