<!DOCTYPE html>
<html>
  <head>
    <title><% yield_content :title %>Huboard</title>
    <link rel="shortcut icon" href="/img/favicon.ico" />
    
     <%= stylesheet_tag 'bootstrap' %>
     <%= stylesheet_tag 'flex_layout' %>


    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28313898-1']);
      _gaq.push(['_setDomainName', 'huboard.com']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
  </head>
  <body class="flex-body">
     <div id="application">
     </div>
     <% yield_content :overlay %>

     <% yield_content :javascripts %>
     <%= partial :fontdeck %>

   </body>
 </html>


