<div class="preamble">
  <div class="container">
    <div class="row">
      <div class="span12" style="padding-bottom: 40px;">
        <h1> huboard needs third-party access to your GitHub account </h1>
      </div>
    </div>
  </div>
</div>


<div class="container " style=" margin-top: 20px">
  <div class="row no-header">


    <div class="permissions">
      <div class="group">
        <div class="span6">

          <h5> Public access </h5>
          <div class="permission">
            <span class="label read on">Read</span>
            <span class="label write off">Write</span>
            <strong> Your user profile </strong>
          </div>
          <div class="permission">
            <span class="label read on">Read</span>
            <span class="label write off">Write</span>
            Your followers

          </div>
        </div>
        <div class="span6">
          <h5> Private access </h5>
          <div class="permission">
            <span class="label read on">Read</span>
            <span class="label write off">Write</span>
            <strong> Your user profile </strong>
          </div>
          <div class="permission">
            <span class="label read on">Read</span>
            <span class="label write off">Write</span>
            Your followers

          </div>
        </div>
        <div class="span12">
          <blockquote>
            huboard needs these permissions to know who you are so we can display your name and avatar in the application
          </blockquote>
        </div>
      </div>
      <div class="group">
        <div class="span6">

          <div class="permission">
            <span class="label read off">Read</span>
            <span class="label write off">Write</span>
            <strong> Your private repositories and organizations </strong>
          </div>
          <div class="permission">
            <span class="label read off">Read</span>
            <span class="label write off">Write</span>
            Commit status
          </div>
          <div class="permission">
            <span class="label read off">Read</span>
            <span class="label write off">Write</span>
            Notifications
          </div>
        </div>
        <div class="span6">
          <div class="permission">
            <span class="label read on">Read</span>
            <span class="label write on">Write</span>
            <strong> Your private repositories and organizations </strong>
          </div>
          <div class="permission">
            <span class="label read on">Read</span>
            <span class="label write on">Write</span>
            Commit status
          </div>
          <div class="permission">
            <span class="label read on">Read</span>
            <span class="label write on">Write</span>
            Notifications
          </div>
        </div>
        <div class="span12">
          <blockquote>
            huboard needs these permissions to read your private repository information so you can use
            huboard to manage your issues
          </blockquote>
        </div>
      </div>
      <div class="group">
        <div class="span6">
          <div class="permission">
            <span class="label read on">Read</span>
            <span class="label write on">Write</span>
            <strong> Your public repositories and organizations </strong>
          </div>
          <div class="permission">
            <span class="label read on">Read</span>
            <span class="label write on">Write</span>
            Commit status
          </div>
          <div class="permission">
            <span class="label read on">Read</span>
            <span class="label write on">Write</span>
            Notifications
          </div>
        </div>
        <div class="span6">
          <div class="permission">
            <span class="label read on">Read</span>
            <span class="label write on">Write</span>
            <strong> Your public repositories and organizations </strong>
          </div>
          <div class="permission">
            <span class="label read on">Read</span>
            <span class="label write on">Write</span>
            Commit status
          </div>
          <div class="permission">
            <span class="label read on">Read</span>
            <span class="label write on">Write</span>
            Notifications
          </div>
        </div>
        <div class="span12">
          <blockquote>
            huboard needs these permissions so we can edit issues on your behalf
          </blockquote>
        </div>
      </div>
      <div class="group">
        <div class="span6">
          <a class="hb-button" href="/login/public">Allow public access</a>
        </div>
        <div class="span6">
          <a class="hb-button" href="/login/private">Allow private access</a>

        </div>
      </div>
    </div>
  </div>
</div>

