<div class="preamble">
  <div class="container">
    <div class="row">
      <div class="span12" style="padding-bottom: 40px;">
        <h1> HuBoard needs third-party access to your GitHub account </h1>
      </div>
    </div>
  </div>
</div>


<div class="container " style=" margin-top: 20px">
  <div class="row no-header">
    <div class="span12">
      <h2> Please choose which permissions you want to allow HuBoard </h2>

    </div>

    <div class="permissions">

      <div class="span6">
        <div class="well">
          <h5> Public access </h5>
          <div class="body">
          <div class="group">
            <div class="permission">
              <span class="label read on">Read</span>
              <span class="label write off">Write</span>
              <strong> Your user profile </strong>
            </div>
            <div class="permission">
              <span class="label read on">Read</span>
              <span class="label write off">Write</span>
              Your followers

            </div>
          </div>
          <div class="group">

            <div class="permission">
              <span class="label read off">Read</span>
              <span class="label write off">Write</span>
              <strong> Your private repositories and organizations </strong>
            </div>
            <div class="permission">
              <span class="label read off">Read</span>
              <span class="label write off">Write</span>
              Commit status
            </div>
            <div class="permission">
              <span class="label read off">Read</span>
              <span class="label write off">Write</span>
              Notifications
            </div>
          </div>
          <div class="group">

            <div class="permission">
              <span class="label read on">Read</span>
              <span class="label write on">Write</span>
              <strong> Your public repositories and organizations </strong>
            </div>
            <div class="permission">
              <span class="label read on">Read</span>
              <span class="label write on">Write</span>
              Commit status
            </div>
            <div class="permission">
              <span class="label read on">Read</span>
              <span class="label write on">Write</span>
              Notifications
            </div>
          </div>
          <div class="group">

            <a class="hb-button" href="/login/public">Allow public access</a>
          </div>

        </div>
        </div>
      </div>
      <div class="span6">
        <div class="well">
          <h5> Private access </h5>
          <div class="body">
          <div class="group">
            <div class="permission">
              <span class="label read on">Read</span>
              <span class="label write off">Write</span>
              <strong> Your user profile </strong>
            </div>
            <div class="permission">
              <span class="label read on">Read</span>
              <span class="label write off">Write</span>
              Your followers

            </div>
          </div>
          <div class="group">

            <div class="permission">
              <span class="label read on">Read</span>
              <span class="label write on">Write</span>
              <strong> Your private repositories and organizations </strong>
            </div>
            <div class="permission">
              <span class="label read on">Read</span>
              <span class="label write on">Write</span>
              Commit status
            </div>
            <div class="permission">
              <span class="label read on">Read</span>
              <span class="label write on">Write</span>
              Notifications
            </div>
          </div>
          <div class="group">

            <div class="permission">
              <span class="label read on">Read</span>
              <span class="label write on">Write</span>
              <strong> Your public repositories and organizations </strong>
            </div>
            <div class="permission">
              <span class="label read on">Read</span>
              <span class="label write on">Write</span>
              Commit status
            </div>
            <div class="permission">
              <span class="label read on">Read</span>
              <span class="label write on">Write</span>
              Notifications
            </div>
          </div>
          <div class="group">

            <a class="hb-button" href="/login/private">Allow private access</a>
          </div>

        </div>
        </div>
      </div>


    </div>
  </div>
</div>

