<!DOCTYPE html>
<html>
  <head>
    <title><% yield_content :title %>Huboard</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <!-- This is a special version of jQuery with RequireJS built-in -->
    <script src="/scripts/firebugx.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/scripts/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/marketing.min.css">
  </head>
  <body>        
    <div id="wrapper">
     <a href="https://github.com/rauhryan/huboard"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a> 
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">huboard</a>
          </div>
        </div>
      </div>

      <%= yield %>
      <div id="footer-pusher"></div>

    </div>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h2>
              huboard
            
            <a href="https://twitter.com/intent/tweet?button_hashtag=huboard" class="twitter-hashtag-button" data-related="rauhryan" data-url="http://huboard.com">Tweet #huboard</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </h2>
          </div>

        </div>

      </div>

    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28313898-1']);
      _gaq.push(['_setDomainName', 'huboard.com']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
   </body>
 </html>

