<!DOCTYPE html>
<html>
  <head>
    <title><% yield_content :title %>Huboard</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
    <!-- This is a special version of jQuery with RequireJS built-in -->
    <script src="/scripts/firebugx.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/scripts/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/marketing.min.css">
  </head>
  <body>        
    <div id="wrapper">
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">huboard</a>
            <div class="nav">
              <ul>
                <li>
                  <a href="/pricing"> Plans & Pricing</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <%= yield %>
      <div id="footer-pusher"></div>

    </div>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="span6">
            huboard, huboard LLC
          </div>
          <div class="links span6">
            <a href="/site/terms">terms</a>
            <a href="/site/privacy">privacy</a>
            <a href="https://github.com/rauhryan/huboard">github</a>
          </div>
        </div>

      </div>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28313898-1']);
      _gaq.push(['_setDomainName', 'huboard.com']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

</script>
   </body>
 </html>

