
<div class="pricing">
  <div class="container">
    <div class="row">
      <h2>
        Huboard comes in your size
        <span></span>
      </h2>  
      <div class="plans">
        <div class="row">
          <div class="span6">
            <div class="plan small">
              <h3>Organization<span class="price">$24/month</span></h3>
              <ul class="unstyled">
                <li><strong>unlimited</strong> public repositories</li>
                <li><strong>unlimited</strong> private repositories</li>
                <li><strong>unlimited</strong> users</li>
              </ul>
              <div class="input-append subscribe">
                <input placeholder="GitHub username" class="span2" id="appendedInputButton" type="text">
                <a class="btn btn-success" type="button">Subscribe</a>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="plan medium featured">
              <h3>Personal<span class="price">$9/month</span></h3>
              <ul class="unstyled">
                <li><strong>unlimited</strong> public repositories</li>
                <li><strong>unlimited</strong> private repositories</li>
                <li><strong>unlimited</strong> users</li>
              </ul>
              <div class="input-append subscribe">
                <input placeholder="GitHub username" class="span2" id="appendedInputButton" type="text">
                <button class="btn btn-success" type="button">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="features">
            <div class="container" >
                <div class="row" style="margin-bottom: 40px;">
                    <div class="span4 feature">
                        <h3>No contracts</h3>
                        <p>Huboard is pay-as-you-go. Upgrade, downgrade, or cancel anytime. You will only be responsible for charges incurred during your active billing period.</p>
                    </div>
                    <div class="span4 feature">
                        <h3>256-bit SSL Security</h3>
                        <p>Huboard uses secure 256-bit SSL encryption by default and all data is stored securely. For more on privacy, see our <a href="/site/privacy">privacy policy</a>.</p>
                    </div>
                    <div class="span4 feature">
                        <h3>Who sees my repositories?</h3>
                        <p>You control who can see repositories. We respect the same permissions you have setup with your GitHub repositories</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span4 feature">
                        <h3>Is my access token secure?</h3>
                        <p>Huboard never stores your OAuth token on our servers and your token is <strong>never</strong> exposed to the browser unencrypted. You can rest easy knowing that your GitHub repositories are safe and secure, for more information feel free to <a href="mailto:huboard@huboard.com?subject=OAuth Inquiry">Email us</a> anytime.</p>
                    </div>
                    <div class="span4 feature">
                        <h3>Forms of payment</h3>
                        <p>We accept all major credit cards: Visa, Mastercard, American Express, Discover. Our payments are processed by Stripe.</p>
                    </div>
                    <div class="span4 feature">
                        <h3>Educational institution?</h3>
                        <p>We proudly offer our best plan free to educational institutions. To get started, <a href="mailto:huboard@huboard.com?subject=Non-profit Inquiry">Contact us</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

