.hb-button {
  border: 1px solid #076fe4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: compact(inset 0 1px 0 0 #8ebcf1, false, false, false, false, false, false, false, false);
  box-shadow: compact(inset 0 1px 0 0 #8ebcf1, false, false, false, false, false, false, false, false);
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false)));
  background-image: -webkit-linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  -webkit-background-clip: padding-box;
  text-align: center; }
  .hb-button:hover:not(:disabled) {
    -webkit-box-shadow: compact(inset 0 1px 0 0 #60a2ec, false, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 1px 0 0 #60a2ec, false, false, false, false, false, false, false, false);
    cursor: pointer;
    background-color: #2f87ea;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false)); }
  .hb-button:active:not(:disabled) {
    border: 1px solid #076fe4;
    -webkit-box-shadow: compact(inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee, false, false, false, false, false, false);
    box-shadow: compact(inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee, false, false, false, false, false, false); }
  .hb-button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }
  .hb-button:hover {
    color: #FFF;
    text-decoration: none; }

body {
  font-family: "ProximaNovaRegular", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.navbar .navbar-inner {
  background: #f8f8f8;
  box-shadow: none; }

.navbar .brand {
  line-height: 90px;
  padding-top: 0;
  padding-bottom: 0;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.4);
  font-family: "ProximaNovaBold", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 40px; }
  .navbar .brand:hover {
    color: rgba(255, 255, 255, 0.3);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.7); }

.navbar .nav > li > a {
  font-family: "ProximaNovaRegular", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  line-height: 90px;
  padding-top: 0;
  padding-bottom: 0; }

body, html {
  height: 100%; }

#wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin-bottom: -60px; }

#footer, #footer-pusher {
  min-height: 60px; }

#footer {
  background-color: #353535;
  color: #676767;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.4); }

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../font/proximanova-regular-webfont.eot");
  src: local("ProximaNovaRegular"), url("../font/proximanova-regular-webfont.woff") format("woff"), url("../font/proximanova-regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../font/proximanova-bold-webfont.eot");
  src: local("ProximaNovaBold"), url("../font/proxima_nova_bold-webfont.woff") format("woff"), url("../font/proxima_nova_bold-webfont.ttf") format("truetype"); }

.preamble {
  background-color: #353535;
  color: #676767;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.4);
  padding-top: 60px; }
  .preamble h1 {
    color: #f8f8f8;
    color: rgba(248, 248, 248, 0.9);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.1); }
  .preamble h1, .preamble h2 {
    font-family: "ProximaNovaBold", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  .preamble .hb-button {
    margin: 0 auto;
    width: 200px;
    display: block;
    padding: 20px;
    font-size: 24px;
    font-weight: bold; }
  .preamble .sign-up {
    margin-top: 80px; }

.features {
  padding-bottom: 100px;
  padding-top: 100px; }
  .features h3, .features h2 {
    font-family: "ProximaNovaBold", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.gutter {
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0px 0px 2px #cccccc;
  -moz-box-shadow: inset 0px 0px 2px #cccccc;
  box-shadow: inset 0px 0px 2px #cccccc; }
