<div class="boxed-group">
  <h3>Display preferences</h3>
  <div class="boxed-group__content">
    <div class="fields">
      <label>
        {{input type='checkbox' name='showCounts' checked=settings.showColumnCounts}}
        Show running totals in the column headers
      </label>
    </div>
  </div>
</div>
