{{textarea autoresize=true value=markdown placeholder="Leave a comment"}}
<p class="markdown-drag-and-drop">
  <span class='hb-default'>
    Attach images by dragging and dropping, <input type='file' multiple="multiple" /> <a class="manual-file-chooser">selecting them</a>, or pasting from the clipboard.
  </span>
  <span class="hb-uploading">
    Uploading....
  </span>
</p>

