<a {{action "moveToColumn" view.content }} href="#"><span>{{view.content.text}}</span>

<div class="card-states">
   <img src="/img/check.png" title="Issue is closed" class="hb-state-closed"/>
   <img src="/img/arrow.png" class="hb-state-ready"/>
   <img src="/img/x.png" class="hb-state-blocked"/>
</div>
</a>

