<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
                <!-- 
                This removes Helicon Zoo handler and makes IIS processing static files.
                -->
                <remove name="rails.project#x86" />
                <remove name="rails.project#x64" />
        </handlers>
    </system.webServer>
</configuration>