<div class="fullscreen-card" style="padding:20px;">
    <h2> Integrations </h2>
    <div class="flex-form-top"> 
      <ul>
        {{#each integration in integrations}}
          <li>
            {{ integration.integration.webhook_url }}
            <button {{action "removeWebhook" integration}} type="button" class="hb-button">Delete webhook</button>
          </li>
        {{/each}}
      </ul>
    </div>
    <hr></hr>
    {{ outlet }}
</div>

