<li class='dropdown'>
  <a rel='nofollow' class="dropdown-toggle avatar" data-toggle="dropdown" href="#">
    <img height='30' width='30' src="<%= current_user.safe_avatar_url %>" />
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a rel='nofollow' href="/settings/profile">Account</a>
    </li>
    <li>
      <a rel='nofollow' href="/logout">Logout</a>
    </li>
  </ul>
</li>



