{{#hb-tabs}}
  {{#hb-pane title="Compose"}}
    {{hb-markdown-composer markdown=markdown}}
  {{/hb-pane}}
  {{#hb-pane title="Preview"}}
    <div class="markdown-preview">
      {{{preview}}}
    </div>
  {{/hb-pane}}
{{/hb-tabs}}


