/**
 * Merge all stylesheets into one
 */

/**
 * Libraries
 */
@import "vendor/normalize";
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";


/**
 * Modules - code that doesn't actually output any CSS
 */
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";


/**
 * Generic elements
 */
@import "partials/globals";
@import "partials/typography";
@import "partials/layout";
@import "partials/components";
@import "partials/forms";


/**
 * Sitewide elements
 */
@import "partials/header";
@import "partials/hero";
@import "partials/navigation";
@import "partials/crumbtrail";
@import "partials/testimonials";
@import "partials/footer";
@import "partials/widgets";
@import "partials/content";


/**
 * Page-specific / elements
 */
@import "partials/homepage";
@import "partials/pricing";
@import "partials/faq";
@import "partials/integrations";
@import "partials/login";


/**
 * Post types
 */
@import "partials/page";
@import "partials/post";



@import "vendor/magnific-popup";
