<a href="{{unbound view.content.html_url}}" target="_blank">
  {{hb-avatar user=view.content.user.gravatar_id height=30 width=30 }}
</a>
<div class="comment-body">
  {{{ view.content.body_html}}}
</div>
