<div class="fullscreen-card">
  <h1> Milestone missing in {{cardController.model.repo.owner.login}}/{{cardController.model.repo.name}} </h1>
  <button class="hb-button" {{action 'createTheMilestone' }}> Create it for me </button> or <a {{action 'closeModal'}} href="#">Cancel</a>
</div>
