@import "arrow";
.container-fluid {
   padding-right: 25px;
   padding-left: 25px;
}

.column {
  vertical-align: top;
  padding: 0px 10px;
  @include box-sizing(border-box);
}


.backlog { 
  white-space: nowrap;
  overflow-x: auto;
  .column {
    float: none;
    display: inline-block;
  }
}
.sidebar {
  .backlog {
    .column {
      width: 209px;
    }
  }
}

.column h3 {
  line-height: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  background: #f3f3f3;

  font-size: 100%;
  @extend %font-headings;
  small {
    float:right;
    line-height: 20px;
    font-style: italic;
  }
  .hb-state-error {
    color: $hb-red;
  }
}

.hb-task-column h3 {
  @extend .arrow;
}

.column ul {
  margin:0;
  padding: 0;
}
.backlog {
    .dim {
      opacity: 0.4;
    }
    .active {
    }
    .filter-hidden {
      border:0;
      padding:0;
      margin:0;
      height:0;
      .ember-view {
        display: none;
      }
    }
}
.board {
    .dim {
      opacity: 0.4;
      @include transition (opacity 0.6s, ease-out);
      @include transition (filter 0.6s, ease-out);
      @include prefixer(filter, grayscale(100%) opacity(40%));
      @include box-shadow(inset 0 0px 1px rgba(0,0,0, 0.3));
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    }
    .active {
    }

    .filter-hidden {
      padding:0;
      margin:0;
      height:0;
      border:0;
      .ember-view {
        display: none;
      }

    }

}

.column {
  .is-draggable {
    cursor:pointer;
  }
  .ui-sortable-helper {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
    @include transform(rotate(3deg));
  }
}

.column li {
  cursor:pointer;
  list-style: none;
  padding: 5px 5px 34px 5px;
  margin-bottom: 10px;
  position:relative;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-bottom-color: darken(#e5e5e5, 5%); 

  &.border {
    border-top-color: #e5e5e5;
    border-right-color: #e5e5e5;
    border-bottom-color: #e5e5e5;
    border-left-width: 3px;
  }

  &.closable {
    background-color: #f5f5f5;
    .actions-close {
      display:block;
    }
  }
  .actions-close {
    display:none;
  }
  
  .hb-action {
      position: absolute;
      width: 100%;
    button {
      opacity: 0.3;
      position: absolute;
      top:0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100px;
      height: 30px;
      margin:auto;
      @include transition(opacity 0.2s);
    }
  }
  &:hover {
    .hb-action {
        button {
        opacity: 1;
      }
    }
  }


  &.assignee-accept {
     border-color: #0069D6;
  }
  .card-labels {
    position: absolute;
    bottom: -3px;
    .card-label-wrapper {
      float:left;
      margin-right: 5px;
      .card-label {
        z-index: 10;
      }
      .card-label.active.small {
        height: 4px;
        width: 40px;
        display:block;
      }
      .card-label.active.large {
        position: relative;
        top: 22px;

        display: none;
        padding: 3px 10px;
      }
    }
      &:hover {
        .card-label.active.small {
          display: none;
        }
        .card-label.active.large {
          display:block;
        }
      }
  }

  .card-header {
    border-bottom: 1px solid $borderColor;
    padding: 5px 0;
    color: $darkGrey;
  }
  .title {
    padding-right: 20px;
    word-wrap: break-word;
    white-space: normal;
    text-overflow: clip;
    overflow:auto;
  }         
  .milestone {
    color: $lightGrey;
    font-size:11px;
  }         
  img {
    position: absolute;
    bottom:5px;
    left: 5px;
  }          
  .number {
    position: absolute;
    vertical-align: bottom;
    bottom:5px;
    right: 5px;
    font-size:2em;
    small {
      color: #999;
      margin-right: -7px;
    }
  }               
}



.column li a.close {
  position: absolute;
  top: 12px;
  right: 6px;
  width: 16px;
  opacity:0.0;
}
.column li:hover a.close {
  opacity:0.3;
}
.column li a.close:hover {
  opacity:0.5;
}

.column li a small {
  color: $lightGrey;
  padding-right:2px;
}
.column .ui-sortable-placeholder {
  background:$borderColor;
  list-style: none;
  padding: 80px 5px 10px 5px;
  margin: 10px 0;
}
.column .ui-sortable-hover {
  background:#efefef;
}



.filters {
  list-style: none;
  margin:0;
  padding:0 20px 0 0;
}

.filters li {
  margin-bottom: 10px;
  background: #fff;
  border-radius: 4px;
}
.filters li.clear-filters, .filters li.clear-filters a {
  background: none;
  color:$grey;
}
.filters li.clear-filters {
  border-radius: 0;
  border-bottom: 1px solid $darkGrey;
}
.filters li.clear-filters a:hover {
  color:$grey;
}

.filters li a {
  position:relative;
  padding: 10px;
  display:block;
  padding-right:25px;
  text-decoration: none;
  border-radius: 4px;
  color:#777;
}

.filters li a strong { 
  position: absolute;
  top:12px;
  right:10px;
}

.filter a.active, .filter a.active:hover {
  background-color: $hb-purple;
  color: #fff;
}
.filter a.dim, .filter a.dim:hover {
  background-color: $hb-purple;
  background-color: rgba($hb-purple,0.6);
  color: #fff;

}

.filter {
  .ui-icon {
    position: absolute;
    top: 13px;
    right: 3px;
    width: 22px;
    display:none;
    opacity: 0.8;
    &:hover {
      opacity: 1;

    }
  }
  a:hover {
    background-color:#efefef;
  }

  .dim:hover, .active:hover { 
    .ui-icon {
      display:inline;
    }
  }
}


