
.navbar {

  .hb-button {
     padding-top:3px;
     padding-bottom: 3px;
     margin-top: 6px;
  }
}

.hb-button {
  @include button($hb-purple);
  text-align: center;
  &:hover {
     color:#FFF;
     text-decoration: none;
  }
  &.small {
     padding-top:5px;
     padding-bottom: 4px;     
  }
  
  &.hb-button-white {
      @include button(#fff);
  }
    
}
                                  
.input-append {
  .hb-button {
     vertical-align: top;
     margin-left: -1px;
     border-radius: 0 3px 3px 0px;
  }
}
