.credit-card {
  margin: -5px -5px 0 -5px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.widget-body {

  .table {
    margin-bottom: 0;
  }
  .table-wrapper, .banner {
    margin: 0 -5px;
  }
  .alert {
  
    margin-bottom: 0;
  }
}

.credit-cards {
  margin:0;
  padding:0;
  @include clearfix;
  list-style:none;
  .card {
    background-image: image-url('credit-cards-@1x.png');
    float: left;
    width: 47px;
    height: 31px;
    list-style:none;
    margin-right:3px;
    opacity: 0.3;
  }
  .card-visa {
    background-position: 0px 0px;
    &.visa {
     opacity: 1; 
    }
  }
  .card-express {
    background-position: -50px 0px;
    &.amex {
     opacity: 1; 
    }
  }
  .card-master {
    background-position: -100px 0px;
    &.mastercard {
     opacity: 1; 
    }
  }
  .card-discover {
    background-position: -150px 0px;
    &.discover {
     opacity: 1; 
    }
  }
}
