.flex-form {
  margin: 0;

  display: flex;
  flex:1;
  flex-flow: column nowrap;
  &.split-form {
    flex-flow: row nowrap;
    .flex-form-left {
      display: flex;
      flex: 1;
      flex-flow: column nowrap;
      padding: 0 10px;
      border-right: 1px solid #ccc;
      > div {
        display: flex;
        flex: 1;
      
      }
    }
    .flex-form-right {
      padding: 0 10px;
      flex: 0 0 210px;
    }
  }
  label {
    display: flex;
    input, textarea {
      flex:1;
    }
  }
  input, textarea {
    padding: 7px 8px;
  }
  .tabbable {
    textarea {
     box-sizing: border-box;
     width: 100%;
     resize:none;
     border: none;
     outline: none;
     box-shadow:none;
    }
    .nav-tabs > .active > a {
      background-color: transparent;
      border-bottom-color: #fafafa;
    }
  }

  .markdown-editor {
    flex:1;
    display:flex;
    > div {
      flex:1;
      display:flex;
      
    }
    .markdown-composer textarea, .markdown-preview {
      margin-bottom: 12px;
      padding: 12px 12px;
      background: #fff;
      box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
      border-radius: 3px;
    }
    .tabbable {
      flex:1;
      display:flex;
      flex-flow: column nowrap;
      .tab-content {
       flex: 1;
       display:flex;
      }
      .tab-content {
        flex-flow: column nowrap;
      }
    }
  }
}
