.ui-icon{
    font-size:16px;
    height:16px;
    width:16px;
    font-weight:normal !important;
}
.ui-icon-helper-inline{
    display:inline-block;
}

.ui-icon-18{
    font-size:18px;
    height:18px;
    width:18px;
}

.ui-icon-21{
    font-size:21px;
    height:21px;
    width:21px;
}

.ui-icon-24{
    font-size:24px;
    height:24px;
    width:24px;
}

.ui-icon-32{
    font-size:32px;
    height:32px;
    width:32px;
}

.ui-icon-48{
    font-size:48px;
    height:48px;
    width:48px;
}
.ui-icon-64{
    font-size:64px;
    height:64px;
    width:64px;
}


@font-face {
	font-family: 'Clayton';
	src:url('/font/claytonsmallcapsnumbers-bold-webfont.eot');
	src:url('/font/claytonsmallcapsnumbers-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('/font/claytonsmallcapsnumbers-bold-webfont.woff') format('woff'),
		url('/font/claytonsmallcapsnumbers-bold-webfont.ttf') format('truetype'),
		url('/font/claytonsmallcapsnumbers-bold-webfont.svg#ClaytonSmallCapsNumbers-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

.text-right {
   text-align: right !important; 
}

.dropdown-menu {
  a {
    padding-left: 35px !important;
    position: relative;
    i {
      position: absolute;
      left: 10px;
      display: none;
    }
  }
  li.checked {
    a {
      .ui-icon {
        display: inline;
      }
    }
  }
}
