.no-header {
   margin-top: -30px;
}

%grow {
   @include transform(scale(1.25));
   @include transition (all 0.2s ease-in 0.1s);
}
.assignee {
  list-style: none;
  line-height: 40px;
  float:left;
  margin:0 2px;
  cursor:pointer;
  &:hover, &.active {
    img {
      @extend %grow;
    }
  }
  &.dim img {
      opacity: 0.6;
      @include transition (opacity 0.6s, ease-out);
      @include transition (filter 0.6s, ease-out);
      @include prefixer(filter, grayscale(100%) opacity(80%));
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  }
  &.inactive img {
      opacity: 0.1;
  }
}
.page-header-wrapper {
  margin-top: -60px;
  @include clearfix;
  ol {
    @include clearfix;
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
  }
}

