
body {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.navbar {
  &.navbar-fixed-top, &.navbar-static-top {
    .navbar-inner {
      @include box-shadow(none);
    }
  }
  .navbar-inner {
    background: $hb-purple;
    .nav a {
      background-color:lighten(#000,27%);
      color:transparent;
      text-shadow: 0px 1px 0px fade-out($hb-purple-dark, 0.1);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      &:hover {
         color: #fff;
         text-decoration: none;
      }
    }
  }
}
.navbar .brand {

  line-height: 90px;
  padding-top: 0;
  padding-bottom: 0;

  color: #fff;

  font-family:"Din Text Pro Medium", "HelveticaNeue", Verdana, sans-serif; 
  font-size-adjust:0.5; 
  font-weight:500;
  font-size: 40px;

}

.navbar {
  .nav {
    float: right;
    ul {
      margin: 0;
      list-style-type: none;
    }
  }
} 

.navbar .nav  li > a {
  font-family:"Din Text Pro Medium", "HelveticaNeue", Verdana, sans-serif; 
  font-size-adjust:0.5; 
  font-weight:500;
  font-size: 21px;
  line-height: 90px;
  padding-top: 0;
  padding-bottom: 0;
}

