<h5>Active Members</h5>
{{#if noActiveMembers}}
<p><small> (none) </small></p>
{{/if}}

<div class="assignees filters">
  {{#each filter in filters}}
    {{view "assignee-filter" lastClicked=controller.lastClicked assignee=filter.avatar.login data-assignee=filter.avatar.login  gravatarUser=filter.avatar content=filter mode=filter.mode }}
  {{/each}}
</div>
