<ul class='filters'>
  <h5>Repos</h5>
  {{#each filter in filters.filterGroups.board.filters }}
    {{view "filter" name=filter.name mode=filter.mode color=filter.color tagType="colored" queryParam="repo"}}
  {{/each}}

  <h5>Assignment</h5>
  {{#each filter in filters.filterGroups.user.filters }}
    {{view "filter" name=filter.name mode=filter.mode color=filter.color queryParam="member"}}
  {{/each}}

  <h5>Milestones</h5>
  {{#each filter in filters.filterGroups.milestone.filters }}
    {{view "filter" name=filter.name mode=filter.mode color=filter.color queryParam="milestone"}}
  {{/each}}
  <h5>Labels</h5>
  {{#each filter in filters.filterGroups.label.filters }}
    {{view "filter" name=filter.name mode=filter.mode color=filter.color tagType="colored" queryParam="label"}}
  {{/each}}

</ul>
