<i class="ui-icon ui-icon-plus"></i>
<i class="ui-icon ui-icon-minus"></i>
<span class="text">{{model.title}}</span>

{{#if controller.model.milestone }}
<i class="ui-icon ui-icon-gear" title="Edit milestone" {{action 'editMilestone' controller.model.milestone bubbles=false}}></i>
{{/if}}
