<div class="fullscreen-login fullscreen-login--center">
  <h2> Your Session Has Expired! </h2>
  <div class="flex-form-top">
    <div class="well">
      <p> Allow {{authLevel}} Access to renable third-party access to GitHub </p>
    </div>
    <a href="{{loginUrl}}" class="hb-button">Allow {{authLevel}} Access</a>
    <h3> or </h3>
    <a href="/" class="hb-button"> Go Home </a>
  </div>
</div>
