@import url('../font/iconic.css');
html {height:100%;}
body {
  min-height:100%;
  background-color: #FAF0d9;
}
.hide {display:none;}

#main-stage  { 
  margin-top: 50px;
}

ul.repos, ul.repos li {
  list-style: none;
}
ul.repos li {
  margin: 0 0 2px 0;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
ul.repos li:last-child {
  border:0;
}
ul.repos li a {
 float:right;
 padding-top: 30px;
 position:relative;
 margin: 0 3px;
}
ul.repos li > span a {
  float:none;
}
ul.repos li a span {
 color: gray;
}
ul.repos li > span {
  font-size:1.4em;
}
ul.repos li a strong {
  font-size:2em;
  position:absolute;
  top:3px;
  left:10%;
}
ul.repos li a.btn {
 padding-top: 7px;
 margin-top:7px;
}

ul.milestones {
   list-style: none;
   counter-reset: milestone;
}

ul.milestones li {
  margin: 0 0 2px 0;
  position:relative;
  cursor:move;
}
ul.milestones li a {
   display:block;
   padding: 7px;
   margin-left:20px;
}
ul.milestones li:before {
  content: counter(milestone);
  counter-increment: milestone;
  background: #CCC;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 7px;
  box-shadow: 0px 1px 2px #333;
  color: #333;
  cursor: move;
}
ul.milestones li a:first-letter {
  text-transform:capitalize;
}
ul.milestones li a em {
  float:right;
  font-style: normal;
  font-weight: normal;
}

ul.milestones li div {
  position:absolute;
  top:0;
  left:30%;
  width:50%;
  background:#ccc;
  border-radius:4px;
}

ul.milestones li div span {
  display: block;
  background: rgba(0, 0, 0, 0.3);
  padding: 7px 0;
  text-indent: 9999em;
  border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
}

.drop-shadow {
  position:relative;
  padding:1em; 
  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.underneath:before,
.underneath:after,
.drop-shadow:before,
.drop-shadow:after {
  content:"";
  position:absolute; 
  z-index:-2;
}

.underneath {
  position:relative;
  padding:1em; 
  background:#fff;
  -webkit-box-shadow:-1px 1px 1px rgba(0, 0, 0, 0.3), -2px 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:-1px 1px 1px rgba(0, 0, 0, 0.3), -2px 0 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow:-1px 1px 1px rgba(0, 0, 0, 0.3), -2px 0 4px rgba(0, 0, 0, 0.1) inset;
}

/* Lifted corners */

.lifted {
  -moz-border-radius:4px; 
  border-radius:4px;
}

.lifted:before,
.lifted:after { 
  bottom:15px;
  left:10px;
  width:50%;
  height:20px;
  max-width:300px;
  -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
 /* -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);        */
  -webkit-transform:rotate(-3deg);    
  /*-moz-transform:rotate(-3deg);   
  -ms-transform:rotate(-3deg);   
  -o-transform:rotate(-3deg);    */
  transform:rotate(-3deg);
}

.lifted:after {
  right:10px; 
  left:auto;
  -webkit-transform:rotate(3deg);   
  -moz-transform:rotate(3deg);  
  -ms-transform:rotate(3deg);  
  -o-transform:rotate(3deg);
  transform:rotate(3deg);
}


table {width:100%;}
table td {
   vertical-align: top;
 }
 table h3 {
   text-align: center;
 }

 table ul {
    margin:0;
    padding: 0;
 }
 table li.drop-shadow {
   list-style: none;
   padding: 30px 5px 10px 5px;
   margin: 10px 0;
   cursor:move;
   position:relative;
 }
 table li .title {
   border-top: 1px solid #ccc;
   padding: 5px 0;
   color: #444;
 }
 table li .milestone a {
   color: #999;
   font-size:11px;
   cursor:pointer;
 }
 table li img {
   position: absolute;
   top:3px;
   right: 3px;
   border-radius: 2px;
 }
 table li a.number {
   position: absolute;
   top:6px;
   left: 3px;
   font-size:2em;
 }

table li a.close {
   position: absolute;
   top:-18px;
   right: -28px;
   font-size:30px;
   padding:10px;
   color:red;
   opacity:0.0;
}
table li:hover a.close {
  opacity:0.3;
}
table li a.close:hover {
  opacity:0.5;
   color:red;
}

 table li a small {
   color: #999;
   padding-right:2px;
 }
 table .ui-sortable-placeholder {
   background:#ccc;
   list-style: none;
   padding: 80px 5px 10px 5px;
   margin: 10px 0;
 }
 table .ui-sortable-hover {
   background:#efefef;
 }

 #drawer {
  position:absolute;
  width:252px;
  top:0;
  left:270px;
 }

 .toggle-drawer {
   position:absolute;
   z-index:5;
   margin: 5px;
   padding: 5px;
   font-size: 19px;
 }
 .toggle-drawer:hover {
   text-decoration: none;
 }
 .toggle-drawer span {
   position:relative;
 }

 .container-fluid > .sidebar {
     width:230px;
 }

 .filters {
   list-style: none;
   margin:0;
   padding:0;
 }

 .filters li {
   position:relative;
   margin: 10px 0;
   background: #fff;
   border-radius: 4px;
 }
 .filters li.clear-filters, .filters li.clear-filters a {
   background: none;
   color:#666;
 }
 .filters li.clear-filters {
   border-radius: 0;
   border-bottom: 1px solid #333;
 }
 .filters li.clear-filters a:hover {
   color:#666;
 }
 .filters li.drop-shadow {
   padding:0;
 }
 .filters li.state-active, .state-active a, .state-active a:hover {
  background: #0069D6;
  color:white;
  text-decoration:none;
   border-radius: 4px;
 }

 .filters li a {
   padding: 10px;
   display:block;
   font-weight: bold;
   padding-right:25px;
 }

 .filters li a strong { 
   position: absolute;
   top:12px;
   right:10px;
 }


.instructions {
   text-align: center;
}
.instructions ol {
   width: 30px;
   text-align:left;
   margin-left: auto;
   margin-right: auto;
}
