
html {height:100%;}
body {
  min-height:100%;
  background-color: #FAF0d9;
}
#main-stage  { 
  margin-top: 50px;
}

ul.repos, ul.repos li {
  list-style: none;
}
ul.repos li {
  margin: 0 0 2px 0;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
ul.repos li:last-child {
  border:0;
}
ul.repos li a {
 float:right;
 padding-top: 30px;
 position:relative;
 margin: 0 3px;
}
ul.repos li a span {
 color: gray;
}
ul.repos li > span {
  font-size:1.4em;
}
ul.repos li a strong {
  font-size:2em;
  position:absolute;
  top:3px;
  left:10%;
}
ul.repos li a.btn {
 padding-top: 7px;
 margin-top:7px;
}

ul.milestones {
   list-style: none;
   counter-reset: milestone;
}

ul.milestones li {
  margin: 0 0 2px 0;
  position:relative;
  cursor:move;
}
ul.milestones li a {
   display:block;
   padding: 7px;
   margin-left:20px;
}
ul.milestones li:before {
  content: counter(milestone);
  counter-increment: milestone;
  background: #CCC;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 7px;
  box-shadow: 0px 1px 2px #333;
  color: #333;
  cursor: move;
}
ul.milestones li a:first-letter {
  text-transform:capitalize;
}
ul.milestones li a em {
  float:right;
  font-style: normal;
  font-weight: normal;
}

ul.milestones li div {
  position:absolute;
  top:0;
  left:30%;
  width:50%;
  background:#ccc;
  border-radius:4px;
}

ul.milestones li div span {
  display: block;
  background: rgba(0, 0, 0, 0.3);
  padding: 7px;
  text-indent: 9999em;
}
.drop-shadow {
  position:relative;
  padding:1em; 
  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
  content:"";
  position:absolute; 
  z-index:-2;
}

.drop-shadow p {
  font-size:16px;
  font-weight:bold;
}
/* Lifted corners */

.lifted {
  -moz-border-radius:4px; 
  border-radius:4px;
}

.lifted:before,
.lifted:after { 
  bottom:15px;
  left:10px;
  width:50%;
  height:20px;
  max-width:300px;
  -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
  -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform:rotate(-3deg);    
  -moz-transform:rotate(-3deg);   
  -ms-transform:rotate(-3deg);   
  -o-transform:rotate(-3deg);
  transform:rotate(-3deg);
}

.lifted:after {
  right:10px; 
  left:auto;
  -webkit-transform:rotate(3deg);   
  -moz-transform:rotate(3deg);  
  -ms-transform:rotate(3deg);  
  -o-transform:rotate(3deg);
  transform:rotate(3deg);
}


table {width:100%;}
table td {
   vertical-align: top;
 }
 table h3 {
   text-align: center;
 }

 table ul {
    margin:0;
    padding: 0;
 }
 table li.drop-shadow {
   list-style: none;
   padding: 30px 5px 10px 5px;
   margin: 10px 0;
   cursor:move;
   position:relative;
 }
 table li .title {
   border-top: 1px solid #ccc;
   padding: 5px 0;

 }
 table li img {

   position: absolute;
   top:3px;
   right: 3px;
   
 }
 table li a {
   position: absolute;
   top:6px;
   left: 3px;
   font-size:2em;
 }
 .ui-sortable-placeholder {
   background:#ccc;
   list-style: none;
   padding: 80px 5px 10px 5px;
   margin: 10px 0;
 }
