	<!-- footer navigation -->
	<nav class="footer-nav">
		<div class="footer-nav__col">
			<h4 class="footer-nav__heading">Product</h4>
			<ul>
				<li><a href="#">Features</a></li>
				<li><a href="#">Plans &amp; Pricing</a></li>
				<li><a href="#">Customers</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</div>

		<div class="footer-nav__col">
			<h4 class="footer-nav__heading">Support</h4>
			<ul>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Resources</a></li>
				<li><a href="#">API</a></li>
				<li><a href="#">Press kit</a></li>
			</ul>
		</div>

		<div class="footer-nav__col">
			<h4 class="footer-nav__heading">Community</h4>
			<ul>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Google+</a></li>
				<li><a href="#">Angelist</a></li>
				<li><a href="#">GitHub</a></li>
				<li><a href="#">Feedback</a></li>
			</ul>
		</div>
	</nav>


