
	<!-- header -->
	<header class="header" id="header"><div class="container">
		<!-- logo -->
		<div class="logo">
      <a href="/"><img src="<%= image_path 'marketing/logo.png' %>" alt="Huboard&trade;"></a>
		</div>

		<!-- navigation -->
		<button class="nav-toggle">Menu</button>
		<nav class="nav" id="nav">
			<ul>
				<li class="nav__item nav__item--current"><a href="/#features" class="nav__link"><span>Features</span></a></li>
				<li class="nav__item"><a href="/pricing" class="nav__link"><span>Plans &amp; Pricing</span></a></li>
				<li class="nav__item"><a href="/#customers" class="nav__link"><span>Customers</span></a></li>
				<li class="nav__item"><a href="/integrations" class="nav__link"><span>Integrations</span></a></li>
				<li class="nav__item nav__item--btn"><a href="/login" class="nav__btn nav__btn--active">Sign in</a></li>
			</ul>
		</nav>
	</div></header>
	<!-- / header -->
