<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Huboard</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Stylesheets -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
  <%= stylesheet_tag 'marketing/main' %>

	<!-- Javascript -->
	<!--[if lt IE 9]>
	<script src="assets/js/vendor/html5shiv.js"></script>
	<script src="assets/js/vendor/respond.js"></script>
	<script src="assets/js/vendor/selectivizr-min.js"></script>
	<![endif]-->

</head>
<body>
<!-- top container -->
<div class="top"><div class="top-inner">
  <%= partial_erb 'header' %>
  <% yield_content :marketing_hero %>

</div></div>
<!-- / top container -->


  <%= yield %>

<!-- footer -->
<footer class="footer" id="footer"><div class="container">
	<!-- call to action -->
	<div class="footer__signup">
		<p>Sign up for our 14-day free trial &rsaquo;</p>
		<div class="footer__signup__btn">
			<a href="#" class="btn">Get it now!</a>
		</div>
	</div>

  <%= partial_erb 'footer_nav' %>

	<!-- copyright -->
	<p class="copyright">
		Copyright &copy; 2014 Huboard, Inc.
		<a href="#">Terms of Service</a>
		<a href="#">Privacy Policy</a>
	</p>
</div></footer>
<!-- / footer -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="//unslider.com/unslider.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
