.account-details {

  .credit-card, .coupon, .email {
    padding: 10px;
  }

  margin: -5px -5px 0 -5px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}


.alert {
  .disabled {
    display: none;
  }

  form {
    margin-top: -31px;
    float: right;
    .hb-button {
      margin-top: -8px;
      margin-left: 6px;
    }
    input[disabled] {
      background-color: #7965cc;
    }
  }
}

