.account-details {
  .email {
    padding-left: 10px;
  }
  margin: -5px -5px 0 -5px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.credit-card, .coupon {
  padding: 10px;
}

.disabled {
  display: none;
}
