.date-picker {
  .ui-datepicker-inline {
    background: white;
    padding: 10px 20px 10px 10px;
    width: 100%;
  }

  .ui-datepicker-title {
    width: 100%;
    text-align: center;
  }
  .ui-datepicker-calendar {
    width: 100%;
    margin-left: 5px;
    text-align: center;
  }
}
