.js-task-list-field {
  display: none;
}

.markdown-body .task-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.task-list-item {
  list-style-type: none;
  padding-left: 20px;
}
.task-list-item label {
    font-weight: normal;
}
.task-list-item + .task-list-item {
  margin-top: 3px;
}

.task-list-item-checkbox[class] {
  float: left;
  margin-left: -20px;
  margin-top: 4px;
}
.card-comment {
  .author {
    padding-bottom: 6px;
    color: #999;
  }
  .hb-action {
    cursor: pointer;
    &:hover {
      color: $hb-purple;

    }

  }
}



.submit-comment-buttons {
  @include display(flex);
  justify-content: flex-end;

  .hb-button {
    margin: 0 2px;
   }

  .spinner {
    position: relative;
    margin: 2px 2px;
  }
}

.flex-issue-title {
  @include display(flex);
  .issue-closed-badge p {
    margin: 4px 4px;
    color: #ffffff;
    background-color: $hb-purple-dark;
    border: 4px solid $hb-purple-dark;
    border-radius: 4px;
    line-height: 1em;
    font-size: 12px;
  }
}

.issue-reference-info {
  &.ui-blur {
    .commit-info {
      @include filter(blur(5px));
    }
  }
  .commit-info {
    margin-left: 60px;
    .commit {
      float: right;
      margin-right: 6px;
    }

   .commit-link {
     color: #999;
     font-weight: bolder;
     letter-spacing: -1px;
    }
  }
  .spinner {
    position: relative;
    float: right;
    margin-right: 30px;
    bottom: 32px;
  }
}

.card-event {
   line-height: 40px;
   @include clearfix;
   .label {
      display: inline-block;
      width: 75px;
      text-align: center;
      padding: 6px;
   }
   
   &.card-event-reopened {
     .label {
       background-color: $hb-red;
     }
   }

   img {
    border-radius: 3px;
    margin: 0 3px;
   }

   & + .card-comment {
     margin-top: 10px;
   }

   .ui-icon-bookmark {
     position: relative;
     color: #999;
     font-size: 16px;
     top: 4px;
     border-style: solid;
     border-color: white;
     background: white;
     border-width: 6px;
     border-radius: 18px;
     width: 10px;
   }

   .commit-badge-circle {
     position: relative;
     margin-right: 2px;
     top: 2px;
     border-style: solid;
     display: inline-block;
     border-width: 8px;
     border-top-width: 6px;
     border-radius: 50%;
     line-height: 10px;
     text-align: center;
     height: 10px;
     width: 10px;
   }

   .circle-slash-icon {
     font-size: 16px;
     font-weight: bolder;
     color: white;
     border-color: #f9646e;
     background: #f9646e;
   }
   .circle-icon {
     font-size: 16px;
     font-weight: bolder;
     color: white;
     border-color: #6cc644;
     background: #6cc644;
   }
}
