/**
 * Merge all stylesheets into one
 */

/**
 * Libraries
 */
@import "../marketing/vendor/normalize";
@import "../marketing/vendor/bourbon/bourbon";
@import "../marketing/vendor/neat/neat";
@import "../bourbon/css3/flex-box";


/**
 * Modules - code that doesn't actually output any CSS
 */
@import "../marketing/modules/variables";
@import "../marketing/modules/mixins";
@import "../marketing/modules/fonts";


/**
 * Generic elements
 */
@import "../marketing/partials/globals";
@import "../marketing/partials/typography";
@import "../marketing/partials/layout";


@import "partials/layout";
@import "partials/message";

html, body {
  background: #7E62A9;
  min-height: 100vh;
  font-family: $hb-font-body;
}
