<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>HuBoard :: Access Denied</title>
	<meta name="description" content="Instant project management for GitHub issues">
  <link rel="shortcut icon" href="/favicon.ico?v=3" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Stylesheets -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="<%= stylesheet_path "errors/main.css" %>">
</head>
  <body>
    <div class="flex-wrap">
      <div class="flex-wrap--left">
        <div class="message">
          <div class="message__top">
            <h1>403</h1>
            <h2> MALFUNCTION! </h2>
            <h3> Something went wrong, but we're on it. </h3>
          </div>
          <div class="message__middle">
            <p>
              While we get out the toolbox, why don't you try to login and try that again.
            </p>
          </div>
          <div class="message__bottom">
            <a href="/login" class="call-to-action">
              Login
            </a>
          </div>

        </div>
      </div>
      <div class="flex-wrap--right illustration illustration--robot">
      </div>
    </div>
     <%= partial :fontdeck %>
  </body>
</html>
