<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Instant project management for GitHub issues">
  <title>HuBoard :: Not found</title>
  <link rel="stylesheet" href="<%= stylesheet_path "errors/main.css" %>">
</head>
  <body>
    <div class="flex-wrap">
      <div class="flex-wrap--left">
        <div class="message">
          <div class="message__top">
            <h1>404</h1>
            <h2> UH OH! </h2>
            <h3> Looks like someone has run off with that page. </h3>
          </div>
          <div class="message__middle">
            <p>
            While we send out the blood hounds, why don't you go back to the homepage and try again.

            </p>
          </div>
          <div class="message__bottom">
            <a href="/" class="call-to-action">
              BACK HOME
            </a>
          </div>

        </div>
      </div>
      <div class="flex-wrap--right illustration illustration--thief">
      </div>
    </div>
     <%= partial :fontdeck %>
  </body>
</html>
