
	<!-- footer navigation -->
	<nav class="footer-nav">
		<div class="footer-nav__col">
			<h4 class="footer-nav__heading">Product</h4>
			<ul>
				<li><a href="/#features">Features</a></li>
				<li><a href="/pricing">Plans &amp; Pricing</a></li>
				<li><a href="/#customers">Customers</a></li>
			</ul>
		</div>

		<div class="footer-nav__col">
			<h4 class="footer-nav__heading">Support</h4>
			<ul>
				<li><a href="http://blog.huboard.com">Blog</a></li>
				<li><a href="mailto:support@huboard.com">Contact</a></li>
			</ul>
		</div>

		<div class="footer-nav__col">
			<h4 class="footer-nav__heading">Community</h4>
			<ul>
				<li><a href="https://twitter.com/huboard">Twitter</a></li>
				<li><a href="https://facebook.com/HuBoard">Facebook</a></li>
				<li><a href="https://github.com/rauhryan/huboard">GitHub</a></li>
				<li><a href="https://github.com/rauhryan/huboard/issues">Issues</a></li>
				<li><a href="mailto:support@huboard.com">Feedback</a></li>
			</ul>
		</div>
	</nav>


