<% content_for :header do %>
  <h1> Accounts </h1>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_tag 'accounts/application' %>
<% end %>


<script type="text/x-handlebars" id="empty">

</script>
