  <div class="instructions drop-shadow">
    <h2> We noticed your repository issue tracker is not yet configured for HuBoard</h2>
    <% if @repo.permissions.push %>
    <p> No worries, HuBoard can automatically get you started with a default label configuration </p>
    <p> HuBoard will create the following labels </p>
    <ol start="0">
      <li> Backlog </li>
      <li> Ready </li>
      <li> Working </li>
      <li> Done </li>
    </ol>
    <form action="/<%= h @parameters[:user]%>/<%= h @parameters[:repo]%>/board/create" method="post">
      <input class="btn primary" type="submit" value="Yes, Do it for me!"/>
      <a href="<%= @repo.html_url %>/issues" target="_blank" >No thanks, I want to do this manually</a>
    </form>
    <% else %>
      <p> Unfortunately, HuBoard doesn't have permission to fix that for you.  </p>
      <p> You'll need to head over to <a href="<%= @repo.html_url %>">GitHub</a> for that</p>
    <% end %>
  </div>

