<% content_for :title do %>
  Use all of your favourite tools with HuBoard
<% end %>

<% content_for :marketing_hero do %>
	<!-- hero -->
	<section class="hero"><div class="container">
		<h2 class="hero__title">Use all of your favourite tools with HuBoard.</h2>
		<p class="hero__copy">
			Discover applications and services that integrate with HuBoard to help you and your team build software better, together.
		</p>
	</div></section>
	<!-- / hero -->
<% end %>

<!-- main content area -->
<div class="main"><div class="container">
	<!-- page intro -->
	<header class="page-intro">
		<h1 class="page-intro__heading heading">Design, develop &amp; manage your product.</h1>
		<p>Great software begins with great design. These integrators specialize in helping you explore and visualize ideas, design UI and workflows, and track your progress.</p>
	</header>
	
	<!-- integrations -->
	<div class="integrations">
		<div class="integrations__row">
			<!-- service -->
			<div class="service">
				<img src="<%= image_path 'marketing/integration-1.png' %>" alt="icon">
				<h4 class="service__heading">Slack</h4>
				<p class="service__description">
        Real-time messaging, archiving and search for modern teams.
				</p>
			</div>
			<!-- service -->
			<div class="service">
				<img src="<%= image_path 'marketing/integration-2.png' %>" alt="icon">
				<h4 class="service__heading">Gitter</h4>
				<p class="service__description">
        Gitter is communications for developers.				
        </p>
			</div>
		</div>
		<div class="integrations__row">
			<!-- service -->
			<div class="service">
				<img src="<%= image_path 'marketing/integration-4.png' %>" alt="icon">
				<h4 class="service__heading">HipChat</h4>
				<p class="service__description">
				Team chat that's actually built for busines.	
				</p>
			</div>
			<!-- service -->
			<div class="service">
				<img src="<%= image_path 'marketing/integration-3.png' %>" alt="icon">
				<h4 class="service__heading">Outgoing Webhooks</h4>
				<p class="service__description">
        Get data out of HuBoard in real-time.				
        </p>
			</div>
    </div>
		<div class="integrations__row">
			<!-- service -->
			<div class="service service--huboard">
				<h4 class="service__heading">HuBoard API</h4>
				<p class="service__description">
					Coming Soon
				</p>
			</div>
		</div>
	</div>

</div></div>
<!-- / main content area -->
<!-- bottom call to action -->
<div class="cta"><div class="container">
	<h3 class="cta__heading">Run HuBoard on your own servers. <a href="https://enterprise.huboard.com"><span>Go Enterprise</span>.</a></h3>
	<div class="cta__copy">
		<p>With <a href="https://enterprise.huboard.com">HuBoard Enterprise</a>, you have complete control over project management for GitHub repositories. <strong>Try it today!</strong></p>
	</div>
	<a href="https://enterprise.huboard.com" class="btn">Learn more about HuBoard Enterprise <i class="icon icon--lt"></i></a>
</div></div>
<!-- footer -->
