<% content_for :title do %>
 Privacy Policy
<% end %>
<% content_for :marketing_hero do %>
	<!-- hero -->
	<section class="hero"><div class="container">
		<h2 class="hero__title">Privacy Policy</h2>
    <p class="hero__copy">
   This Application collects some Personal Data from its Users. 
    </p>
	</div></section>
	<!-- / hero -->
<% end %>

<div class="main"><div class="container">
  <a href="https://www.iubenda.com/privacy-policy/939298" class="iubenda-white iub-body-embed iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>

</div></div>
