<% content_for :title do %>
 Terms of Service
<% end %>

<% content_for :marketing_hero do %>
	<!-- hero -->
	<section class="hero"><div class="container">
		<h2 class="hero__title">Terms of Service</h2>
		<p class="hero__copy"></p>
	</div></section>
	<!-- / hero -->
<% end %>

<div class="main"><div class="container">
      <h1>Terms of Service</h1>

      <p>This web page represents a legal document that serves as our Terms of Service and it governs the legal
      terms of our website, www.huboard.com, sub-domains, and any associated web-based and mobile
      applications (collectively, "Website"), as owned and operated by HuBoard.</p>

      <p>Capitalized terms, unless otherwise defined, have the meaning specified within the Definitions section
      below. This Terms of Service, along with our Privacy Policy, any mobile license agreement, and other
      posted guidelines within our Website, collectively "Legal Terms", constitute the entire and only
      agreement between you and HuBoard, and supersede all other agreements, representations, warranties and
      understandings with respect to our Website and the subject matter contained herein. We may amend our
      Legal Terms at any time without specific notice to you. The latest copies of our Legal Terms will be
      posted on our Website, and you should review all Legal Terms prior to using our Website. After any
      revisions to our Legal Terms are posted, you agree to be bound to any such changes to them. Therefore,
      it is important for you to periodically review our Legal Terms to make sure you still agree to them.</p>

      <p>By using our Website, you agree to fully comply with and be bound by our Legal Terms. Please review them
      carefully. If you do not accept our Legal Terms, do not access and use our Website. If you have already
      accessed our Website and do not accept our Legal Terms, you should immediately discontinue use of our
      Website.</p>

      <p>The last update to our Terms of Service was posted on July 16, 2013.</p>

      <h2>Definitions</h2>
      <p>The terms "us" or "we" or "our" refers to HuBoard, the owner of the
      Website.</p>

      <p>A "Visitor" is someone who merely browses our Website, but has not registered as Member.</p>

      <p>A "Member" is an individual that has registered with us to use our Service.</p>

      <p>Our "Service" represents the collective functionality and features as offered through our Website to our
      Members.</p>

      <p>A "User" is a collective identifier that refers to either a Visitor or a Member.</p>

      <p>All text, information, graphics, audio, video, and data offered through our Website are collectively
      known as our "Content".</p>

      <h2>Limited License</h2>
      <p>HuBoard grants you a non-exclusive, non-transferable, revocable
      license to access and use our Website strictly in accordance with our Legal Terms. Your use of our
      Website is solely for the purposes stated within our Legal Terms; any other use is a violation of this
      license and will result in the revocation of your membership.</p>

      <h2>Legal Compliance</h2>
      <p>You agree to comply with all applicable domestic and international
      laws, statutes, ordinances, and regulations regarding your use of our Website. HuBoard reserves the
      right to investigate complaints or reported violations of our Legal Terms and to take any action we deem
      appropriate, including but not limited to canceling your Member account, reporting any suspected
      unlawful activity to law enforcement officials, regulators, or other third parties and disclosing any
      information necessary or appropriate to such persons or entities relating to your profile, email
      addresses, usage history, posted materials, IP addresses and traffic information, as allowed under our
      Privacy Policy.</p>

      <h2>Intellectual Property</h2>
      <p>Our Website may contain our service marks or trademarks as
      well as those of our affiliates or other companies, in the form of words, graphics, and logos. Your use
      of our Website does not constitute any right or license for you to use such service marks/trademarks,
      without the prior written permission of the corresponding service mark/trademark owner. Our Website is
      also protected under international copyright laws. The copying, redistribution, use or publication by
      you of any portion of our Website is strictly prohibited. Your use of our Website does not grant you
      ownership rights of any kind in our Website.</p>

      <h2>Links to Other Websites</h2>
      <p>Our Website may contain links to third party websites. These
      links are provided solely as a convenience to you. By linking to these websites, we do not create or
      have an affiliation with, or sponsor such third party websites. The inclusion of links within our
      Website does not constitute any endorsement, guarantee, warranty, or recommendation of such third party
      websites. HuBoard has no control over the legal documents and privacy practices of third party websites;
      as such, you access any such third party websites at your own risk.</p>

      <h2>Warranty Disclaimer</h2>
      <p>HuBoard reserves the right to change any and all Content and
      features of our Website, at any time without notice. While our Website is currently free to use, we may
      begin charging for use of all or part of its features at any time, without notice to you. Our Website
      may be temporarily unavailable from time to time for maintenance or other reasons. HuBoard assumes no
      responsibility for any error, omission, interruption, deletion, defect, delay in operation or
      transmission, communications line failure, theft or destruction or unauthorized access to, or alteration
      of, Member Content. HuBoard is not responsible for any technical malfunction or other problems of any
      telephone network or service, computer systems, servers or providers, computer or mobile phone
      equipment, Website, failure of email or players on account of technical problems or traffic congestion
      on the Internet or any combination thereof, including injury or damage to anyone's computer, mobile
      phone, or other hardware or Website, related to or resulting from using, uploading, or downloading
      materials in connection with our Website. Under no circumstances will HuBoard be responsible for any
      loss or damage, including any loss or damage or personal injury or death, resulting from anyone's use of
      our Website, or for any interactions between Users of our Website, whether online or offline.</p>

      <p>OUR WEBSITE IS PROVIDED "AS-IS," "AS AVAILABLE," WITH "ALL FAULTS", AND ALL WARRANTIES, EXPRESS OR
      IMPLIED, ARE DISCLAIMED (INCLUDING BUT NOT LIMITED TO THE DISCLAIMER OF ANY IMPLIED WARRANTIES OF
      MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE). OUR WEBSITE MAY CONTAIN BUGS, ERRORS, PROBLEMS OR
      OTHER LIMITATIONS. HuBoard, INCLUDING ALL OUR AFFILIATES, HAVE NO LIABILITY WHATSOEVER FOR YOUR USE OF
      OUR WEBSITE, OTHER THAN AS SPECIFIED IN OUR LEGAL TERMS. HuBoard CANNOT GUARANTEE AND DOES NOT PROMISE
      ANY SPECIFIC RESULTS FROM USE OF OUR WEBSITE. HuBoard DOES NOT REPRESENT OR WARRANT THAT OUR WEBSITE IS
      ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE OR THAT IT IS FREE OF VIRUSES OR OTHER HARMFUL
      COMPONENTS. THEREFORE, YOU SHOULD EXERCISE CAUTION IN THE USE AND DOWNLOADING OF ANY SUCH CONTENT AND
      USE INDUSTRY-RECOGNIZED PROGRAMS TO DETECT AND REMOVE VIRUSES. ALL RESPONSIBILITY OR LIABILITY FOR ANY
      DAMAGES CAUSED BY VIRUSES SOMEHOW ATTRIBUTED TO OUR WEBSITE IS DISCLAIMED. WITHOUT LIMITING THE
      FOREGOING, YOU UNDERSTAND AND AGREE THAT YOU USE OUR WEBSITE AT YOUR OWN RISK AND THAT YOU WILL BE
      SOLELY RESPONSIBLE FOR YOUR USE THEREOF AND ANY DAMAGES TO YOU, YOUR MOBILE DEVICE OR COMPUTER SYSTEM,
      OR OTHER HARM OF ANY KIND THAT MAY RESULT. WE, AS WELL AS ALL OF OUR AFFILIATES, ARE NOT LIABLE FOR ANY
      INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES (INCLUDING DAMAGES FOR LOSS OF INCOME, BUSINESS,
      PROFITS, LITIGATION, OR THE LIKE), WHETHER BASED ON BREACH OF CONTRACT, BREACH OF WARRANTY, TORT
      (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR OTHERWISE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH
      DAMAGES. THE NEGATION AND LIMITATION OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF
      THE BARGAIN BETWEEN YOU AND HuBoard. OUR WEBSITE WOULD NOT BE PROVIDED WITHOUT SUCH LIMITATIONS. NO
      ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US THROUGH OUR WEBSITE SHALL CREATE
      ANY WARRANTY, REPRESENTATION OR GUARANTEE NOT EXPRESSLY STATED IN OUR LEGAL TERMS.</p>

      <h2>Limitation of Liability</h2>
      <p>HuBoard, as well as all our affiliates, shall not be liable
      for any loss, injury, claim, liability, or damage of any kind resulting in any way from (a) any errors
      in or omissions from our Website; (b) the unavailability or interruption of our Website; (c) your use of
      our Website; or (d) any delay or failure in performance of our Website.</p>

      <p>HuBoard AND ITS AFFILIATES ARE NOT LIABLE FOR THE ACTS, ERRORS, OMISSIONS, REPRESENTATIONS, WARRANTIES,
      BREACHES OR NEGLIGENCE OR FOR ANY PERSONAL INJURIES, DEATH, PROPERTY DAMAGE, OR OTHER DAMAGES OR
      EXPENSES RESULTING THEREFROM. HuBoard AND ITS AFFILIATES HAVE NO LIABILITY AND WILL MAKE NO WARRANTY,
      REFUND, OR OTHER RESTITUTION TO YOU WITH REGARDS TO OUR WEBSITE, OTHER THAN AS SPECIFIED HEREIN, FOR ANY
      REASON, INCLUDING, BUT NOT LIMITED TO, DELAYS, CANCELLATIONS, STRIKES, GOVERNMENTAL ISSUES, OR FORCE
      MAJEURE.</p>

      <p>IN NO EVENT WILL HuBoard OR ITS DIRECTORS, EMPLOYEES OR AGENTS BE LIABLE TO YOU OR ANY THIRD PERSON FOR
      ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES, INCLUDING FOR ANY
      LOSSES ARISING FROM YOUR USE OF OUR WEBSITE, EVEN IF HuBoard IS AWARE OR HAS BEEN ADVISED OF THE
      POSSIBILITY OF SUCH DAMAGES. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, HuBoard'S
      LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER, AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES
      BE LIMITED TO YOUR CEASING USE OF OUR WEBSITE.</p>

      <h2>General Terms</h2>
      <p class="last-paragraph">Our Legal Terms shall be treated as though it were executed and
      performed in Texas, USA, and shall be governed by and construed in accordance with the laws of
      Texas, USA, without regard to conflict of law principles. In addition, you agree to submit to
      the personal jurisdiction and venue of such courts. Any cause of action by you with respect to our
      Website, must be instituted within one (1) year after the cause of action arose or be forever waived and
      barred. Should any part of our Legal Terms be held invalid or unenforceable, that portion shall be
      construed consistent with applicable law and the remaining portions shall remain in full force and
      effect. To the extent that any Content in our Website conflicts or is inconsistent with our Legal Terms,
      our Legal Terms shall take precedence. Our failure to enforce any provision of our Legal Terms shall not
      be deemed a waiver of such provision nor of the right to enforce such provision. The rights of HuBoard
      under our Legal Terms shall survive the termination of our Legal Terms.</p>

</div></div>
