<span class="commit-badge-circle circle-icon">&#9679;</span> {{hb-avatar user=view.content.actor width=20 height=20 }}
<strong>{{view.content.actor.login}}</strong> reopened the issue {{ago view.content.created_at }}
