<span class="commit-badge-circle circle-icon">&#9679;</span> {{hb-avatar user=model.actor width=20 height=20 }}
<strong> <a target="_blank" href="{{model.actor.html_url}}"> {{model.actor.login}}</a></strong> reopened the issue {{ago model.created_at }}
